<h1><%= _("Comments") %></h1>
<div id="comments">
  <% object.comments.each do |comment| %>
    <%= render :partial => "comment/comment", :object => comment %>
  <% end %>
</div>

<h4><%= _("Leave a comment") %></h4>
<% if can? :create, Comment %>
  <%= form_for :comment, :url => { :controller => :comment, :action => :new, :type => object.class, :id => object },
                         :remote => true,
                         :condition => "! $('comment_comment').value.blank()",
                         :before => "$('submit_comment').disable();",
                         :after => "$('comment_comment').disable();",
                         :complete => "$('comment_comment').enable(); $('submit_comment').enable()",
                         :success => "$('comment_comment').value = ''" do |f| %>
    <%= _("Comment") %>:<br>
    <%= f.text_area :comment, :rows => 5, :cols => 35 %><br>
    <%= submit_tag _("Add Comment"), :id => "submit_comment" %>
  <% end %>
<% else %>
  <%= (_("You can only leave a comment if you're <a href='%{signup_link}'>logged in</a>") % { :signup_link => url_for(:controller => :account, :action => :login) }).html_safe %>
<% end %>
