<h1><%= _("Comments") %></h1>
<div id="comments">
  <% object.comments.each do |comment| %>
    <%= render :partial => "comment/comment", :object => comment %>
  <% end %>
</div>

<h4><%= _("Leave a comment") %></h4>
<% if can? :create, Comment %>
    <%= _("Comment") %>:<br>
    <%= text_area_tag :comment, "", :rows => 5, :cols => 35 %><br>
    <%= submit_to_remote "add_comment", _("Add Comment"),
      :id => "submit_comment",
      :url => { :controller => :comment, :action => :new, :type => object.class, :id => object },
      :with => "$('#comment').serialize()",
      :condition => "!$.trim($('#comment').val()) == ''",
      :before => "$('#submit_comment').prop('disabled', true);",
      :after => "$('#comment').prop('disabled', true);",
      :complete => "$('#comment').prop('disabled', false); $('#submit_comment').prop('disabled', false)",
      :success => "$('#comment').val('')"
%>
<% else %>
  <%= (_("You can only leave a comment if you're <a href='%{signup_link}'>logged in</a>") % { :signup_link => url_for(:controller => :account, :action => :login) }).html_safe %>
<% end %>
