<% content_for :main_title do %><%= _("Listing referees") %><% end %>

<p>
<%= form_tag({ :action => "list", :name => "" }, :method => "GET",
              :style => "display: inline") do %>
  <%= text_field_tag("name", @name, :size => 20) %>
  <%= submit_tag(_("Search"), :name => nil) %>
<% end %>

</p>

<div id="table">
  <%= render :partial => "referee_list" %>
</div>
<br/>

<% content_for :sidebar do %>
  <% if can? :create, Referee %>
    <%= link_to _('New referee'), :action => 'new' %>
  <% end %>
<% end %>
<%= javascript_tag "$('name').activate()" %>
