<p>
<%= will_paginate games if defined?(games) %>
</p>
<% last_phase_id = nil %>
<% last_date = nil %>
<% sorted_games.each do |game| %>
  <% if formatted_date(game) != last_date %>
    <% last_date = formatted_date(game) %>
    <% last_phase_id = game.phase_id %>
    <div class="game_date"><%= formatted_date(game, true) %></div>
    <div><%= link_to game.phase.championship.full_name, :controller => :championship, :action => :phases, :id => game.phase.championship, :phase => game.phase %></div>
  <% end %>
  <% if game.phase_id != last_phase_id %>
    <% last_phase_id = game.phase_id %>
    <div><%= link_to game.phase.championship.full_name, :controller => :championship, :action => :phases, :id => game.phase.championship, :phase => game.phase %></div>
  <% end %>
  <div class="table_row">
    <%= render partial: "championship/game_list",
               locals: { game: game, highlight_team: @team } %>
    <div class="clearer"></div>
  </div>
<% end %>
<p>
<%= will_paginate games if defined?(games) %>
</p>
