    <td align="center">
      <% team.games.where(played: true).where("date < ?", @game.date).order(date: :desc).limit(5).reverse.each do |g| %>
        <span title="header=[] body=[<%= g.championship.full_name %><br><%= g.home.name %> <%= g.home_score %> x <%= g.away_score %> <%= g.away.name %>] cssbody=[popupbody]">
        <% us, them = g.home_score, g.away_score %>
        <% if g.home != team then us, them = them, us end %>
        <% if us > them then res = "W" elsif us == them then res = "D" else res = "L" end %>
        <span class="<%= res %>"><%= link_to res, id: g %></span>
        </span>
      <% end %>
    </td>

