<%= link_to(_("Add"), '#', :id => "link_player_#{home_away}", onclick: 'jQuery("#link_player_#{home_away}").hide(); jQuery("#add_player_#{home_away}").show(); jQuery("##{home_away}_player_name").focus()') %>
<div id="add_player_<%= home_away %>" style="display: none">
  <%= text_field_tag "#{home_away}_player_name", "", :onkeypress => "return ignoreEnter(event)", :size => 10 %><br/>
  <%= button_tag _("Cancel"), onclick: 'jQuery("#link_player_#{home_away}").show(); jQuery("#add_player_#{home_away}").hide();' %>
  <%= button_tag _("New"), onclick: remote_function(
          :url => { :action => :insert_team_player, :id => game,
                    "team_player[championship_id]"=> game.phase.championship.id,
                    "team_player[team_id]" => team.id,
                    "home_away" => home_away,
                    "partial" => partial },
          :confirm => _("Are you sure you want to create a new player?"),
          :with => "'name='+$(#{home_away}_player_name).value",
          :complete => "finishPlayerAdd('#{home_away}')",
          :failure => "alert('#{_('Could not insert player')}')") %>
  <%= observe_field "#{home_away}_player_name",
    :url => { :action => :list_players,
              :team => team,
              :game => game,
              :partial => partial },
    :with => "name"
    %>
  <div id="<%= home_away %>_add_player_list">
  </div>
</div>
