<%= javascript_tag <<EOF
function finishPlayerAdd(home_away) {
  jQuery('add_player_' + home_away).hide();
  jQuery('link_player_' + home_away).show();
  jQuery('#' + home_away + '_player_list').sortable({
    cursor: 'move',
    dropOnEmpty: true,
    connectWith: '#' + home_away + '_squad',
    handle: '.draggable',
    items: '> div.player_squad',
    update: dropPlayerDetails
  });
}

function ignoreEnter(event) {
  if (event.keyCode == Event.KEY_RETURN) return false;
  return true;
}

function addPlayerDetails(event, ui) {
  var container = ui.item;
  var attr = container.find(".player_attributes");
  for (i = 0; i < attr.length; ++i) {
    var children = attr[i].children;
    for (j = 0; j < children.length; ++j) {
      jQuery(children[j]).prop('disabled', false);
    }
    jQuery(attr[i]).show();
  }
}

function dropPlayerDetails(event, ui) {
  var container = ui.item;
  var attr = container.find(".player_attributes");
  for (i = 0; i < attr.length; ++i) {
    var children = attr[i].children;
    for (j = 0; j < children.length; ++j) {
      jQuery(children[j]).prop('disabled', true);
    }
    jQuery(attr[i]).hide();
  }
}
EOF
%>

<%= error_messages_for 'game' %>
<% content_for :main_title do %>
  <%= @game.phase.championship.full_name %>
<% end %>

<h2><%= @game.phase.name %></h2>

<%= form_tag :action => :update_squad, :id => @game do %>
  <table class="game_show_score">
    <%= render :partial => "game_score" %>
    <tr>
      <td class="players">
        <div id="home_players">
          <h3><%= _("Players") %></h3>
          <div id="home_player_list" class="player_list">
            <%= render :partial => "player_squad", :collection => @home_players, :locals => { :disabled => true } %>
          </div>
          <%= render :partial => "insert_player",
            :locals => { :team => @game.home, :game => @game, :home_away => "home", :partial => "player_squad" } %>
        </div>
      </td>
      <td colspan="4" class="players">
        <h3><%= _("Players") %></h3>
        <div id="home_squad">
          <%= render :partial => "player_squad", :collection => @home_squad, :locals => { :disabled => false } %>
        </div>
      </td>
<script>
jQuery(function($) {
 $("#home_player_list").sortable({
    cursor: "move",
    dropOnEmpty: true,
    connectWith: "#home_squad",
    handle: ".draggable",
    update: dropPlayerDetails,
  });
  $("#home_squad").sortable({
    cursor: "move",
    dropOnEmpty: true,
    connectWith: "#home_player_list",
    handle: ".draggable",
    update: addPlayerDetails,
  });
});
</script>
      <td></td>
      <td colspan="4" class="players">
        <h3><%= _("Players") %></h3>
        <div id="away_squad">
          <%= render :partial => "player_squad", :collection => @away_squad, :locals => { :disabled => false } %>
        </div>
      </td>
      </td>
      <td class="players">
        <div id="away_players">
          <h3><%= _("Players") %></h3>
          <div id="away_player_list" class="player_list">
            <%= render :partial => "player_squad", :collection => @away_players, :locals => { :disabled => true } %>
          </div>
          <%= render :partial => "insert_player",
            :locals => { :team => @game.away, :game => @game, :home_away => "away", :partial => "player_squad" } %>
        </div>
      </td>
<script>
jQuery(function($) {
 $("#away_player_list").sortable({
    cursor: "move",
    dropOnEmpty: true,
    connectWith: "#away_squad",
    handle: ".draggable",
    update: dropPlayerDetails,
    items: "> div.player_squad"
  });
  $("#away_squad").sortable({
    cursor: "move",
    dropOnEmpty: true,
    connectWith: "#away_player_list",
    handle: ".draggable",
    update: addPlayerDetails,
    items: "> div.player_squad"
  });
});
</script>
    </tr>

    <tr><td colspan="10">
        <table>
          <tr><td><%= _("Round") %>:</td><td><%= @game.round %></td></tr>
          <tr><td><%= _("Attendance") %>:</td><td><%= @game.attendance %></td></tr>
          <tr><td><%= _("Date") %>:</td><td><%= formatted_date(@game).to_s + " - " + formatted_time(@game).to_s %></td></tr>
          <tr><td><%= _("Stadium") %>:</td><td><%= @game.stadium.name unless @game.stadium.nil? %></td></tr>
          <tr><td><%= _("Referee") %>:</td><td><%= "#{@game.referee.name} (#{@game.referee.location})" unless @game.referee.nil? %></td></tr>
        </table>
    </td></tr>
  </table>

  <%= submit_tag _("Update") %>
<% end %>
