<%= error_messages_for 'game' %>
<% @goals.each do |goal| %>
  <%= goal.errors.full_messages %>
  <%= tag "br" unless goal.errors.full_messages.empty? %>
<% end unless @goals.nil? %>

<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/blitzer/jquery-ui.css" %>
<%= google_jquery %>
<%= google_jqueryui %>
<%= javascript_include_tag "jquery.ui.datepicker-pt-BR" if I18n.locale == :pt_BR %>
<script type="text/javascript">
  jQuery.noConflict();
</script>

<script type="text/javascript">
function finishPlayerAdd(home_away) {
  $('add_player_' + home_away).hide();
  $('link_player_' + home_away).show();
}

function receiveDrop(drag, drop) {
  var home_away = drop.id.replace(/_(regulation|aet)_goal_player_.*/, "");
  var aet = drop.id.replace(/.*_(regulation|aet)_.*/, "$1");
  var idx = drop.id.replace(/.*_goal_player_/, "");
  drop.innerHTML = drag.innerHTML;
  penalty = $(home_away + "_" + aet + "_goal_" + idx + "_penalty");
  if (drag.id.match(home_away)) {
    penalty.disabled = false;
  } else {
    penalty.disabled = true;
    penalty.checked = false;
  }
  own_check = $(home_away + "_" + aet + "_goal_" + idx + "_own_goal_check");
  own = $(home_away + "_" + aet + "_goal_" + idx + "_own_goal");
  if (drag.id.match(home_away)) {
    own_check.checked = false;
    own.value = "0";
  } else {
    own_check.checked = true;
    own.value = "1";
  }
  input = $(home_away + "_" + aet + "_goal_" + idx + "_player_id");
  input.value = drag.id.replace(/.*_player_/, "");
}
</script>

<% content_for :main_title do %>
  <%= @game.phase.championship.full_name %>
<% end %>
<h2><%= @game.phase.name %></h2>

<%= form_for @game, :url => { :action => "update", :id => @game} do |g| %>
  <%= hidden_field_tag "redirect", @redirect if @redirect %>
  <table>
    <tr>
      <td rowspan=3><%= image_tag @game.home.large_logo %></td>
      <td> <b><%= add_wbr_to_string(h(@game.home.name)) %></b> </td>
      <td> <%= g.text_field :home_score, :size => 2 %> </td>
      <td>x</td>
      <td> <%= g.text_field :away_score, :size => 2 %> </td>
      <td> <b><%= add_wbr_to_string(h(@game.away.name)) %></b> </td>
      <td rowspan=3><%= image_tag @game.away.large_logo %></td>
    </tr>
    <tr>
      <td>
        <label for="aet"><small><%= _("Extra time") %>:</small></label> <%= check_box_tag "aet", "1", @game.home_aet, :onChange => "if (this.checked) { $('game_home_aet').enable(); $('game_away_aet').enable(); } else { $('game_home_aet').disable(); $('game_away_aet').disable(); }" %>
      </td>
      <td>
        <%= hidden_field_tag "game[home_aet]", "", :id => "game_home_aet_hidden" %>
        <%= g.text_field :home_aet, :size => 2, :disabled => @game.home_aet.nil? %>
      </td>
      <td>x</td>
      <td>
        <%= hidden_field_tag "game[away_aet]", "", :id => "game_away_aet_hidden" %>
        <%= g.text_field :away_aet, :size => 2, :disabled => @game.away_aet.nil? %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <label for="penalties"><small><%= _("Penalties") %>:</small></label> <%= check_box_tag "penalties", "1", @game.home_pen, :onChange => "if (this.checked) { $('game_home_pen').enable(); $('game_away_pen').enable(); } else { $('game_home_pen').disable(); $('game_away_pen').disable(); }" %>
      </td>
      <td>
        <%= hidden_field_tag "game[home_pen]", "", :id => "game_home_pen_hidden" %>
        <%= g.text_field :home_pen, :size => 2, :disabled => @game.home_pen.nil? %>
      </td>
      <td>x</td>
      <td>
        <%= hidden_field_tag "game[away_pen]", "", :id => "game_away_pen_hidden" %>
        <%= g.text_field :away_pen, :size => 2, :disabled => @game.away_pen.nil? %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="players">
        <div id="home_players">
          <h3><%= _("Players") %></h3>
          <div id="home_player_list">
            <%= render :partial => "player_list",
              :collection => @home_players,
              :locals => {
              :home_away => "home"
            } %>
          </div>
          <%= render :partial => "insert_player",
            :locals => { :team => @game.home, :game => @game, :home_away => "home", :partial => "player_list" } %>
        </div>
      </td>
      <td class="goals">
        <table id="home_regulation_goals">
          <tr><th colspan="4"><%= _("Goals") %></th></tr>
          <tr><th><%= _("Name") %></th><th><%= s_("Goal|Time") %></th><th><%= _("Pen") %></th><th><%= _("Own") %></th></tr>
          <% @game.home_score.times do |i| %>
            <%= input_for_goal @game.home_goals.regulation[i], i, "home", "regulation" %>
          <% end %>
        </table>
        <table id="home_aet_goals" style="display: <%= (@game.home_aet and @game.home_aet > 0) ? "block" : "none" %>;">
          <tr><th colspan="4"><%= _("Extra time") %></th></tr>
          <tr><th><%= _("Name") %></th><th><%= s_("Goal|Time") %></th><th><%= _("Pen") %></th><th><%= _("Own") %></th></tr>
          <% @game.home_aet and @game.home_aet.times do |i| %>
            <%= input_for_goal @game.home_goals.aet[i], i, "home", "aet" %>
          <% end %>
        </table>
      </td>
      <td></td><td></td><td></td>
      <td class="goals">
        <table id="away_regulation_goals">
          <tr><th colspan="4"><%= _("Goals") %></th></tr>
          <tr><th><%= _("Name") %></th><th><%= s_("Goal|Time") %></th><th><%= _("Pen") %></th><th><%= _("Own") %></th></tr>
          <% @game.away_score.times do |i| %>
            <%= input_for_goal @game.away_goals.regulation[i], i, "away", "regulation" %>
          <% end %>
        </table>
        <table id="away_aet_goals" style="display: <%= (@game.away_aet and @game.away_aet > 0) ? "" : "none" %>;">
          <tr><th colspan="4"><%= _("Extra time") %></th></tr>
          <tr><th><%= _("Name") %></th><th><%= s_("Goal|Time") %></th><th><%= _("Pen") %></th><th><%= _("Own") %></th></tr>
          <% @game.away_aet and @game.away_aet.times do |i| %>
            <%= input_for_goal @game.away_goals.aet[i], i, "away", "aet" %>
          <% end %>
        </table>
      </td>
      <td class="players">
        <div id="away_players">
          <h3><%= _("Players") %></h3>
          <div id="away_player_list">
            <%= render :partial => "player_list",
              :collection => @away_players,
              :locals => {
              :home_away => "away"
            } %>
          </div>
          <%= render :partial => "insert_player",
            :locals => { :team => @game.away, :game => @game, :home_away => "away", :partial => "player_list" } %>
        </div>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td><%= _("Round") %>:</td>
      <td><%= g.text_field :round, :size => 2 %></td>
    </tr>
    <tr>
      <td><%= _("Attendance") %>:</td>
      <td><%= g.text_field :attendance, :size => 6 %></td>
    </tr>
    <tr>
      <td><%= _("Date") %>:</td>
      <td>
      <%= g.datepicker :date, :autoSize => true, :changeYear => true, :selectOtherMonths => true, :showButtonPanel => true, :showOn => "both", :showOtherMonths => true %>
      <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery('#game_date_datepicker_ui').datepicker().next('button').text('').button({icons:{primary : 'ui-icon-calendar'}});
      });
      </script>
      </td>

    </tr>
    <tr>
      <td><%= s_("Game|Time") %>:</td>
      <td>
        <%= select_hour @game.time, :include_blank => true, :field_name => 'time(4i)', :prefix => "game" %> :
        <%= select_minute @game.time, :include_blank => true, :field_name => 'time(5i)', :prefix => "game" %>
      </td>
    </tr>
    <tr>
      <td><%= _("Referee") %>:</td>
      <td>
        <select id="game_referee_id" name="game[referee_id]">
          <option value=""></option>
          <%= options_for_select @referees, @game.referee_id %>
        </select>
        <%= link_to_function _("New") do |page|
          page["add_referee"].toggle
          page["referee_name"].activate
        end %>
      </td>
    </tr>
    <tr id="add_referee" style="display: none">
      <td></td>
      <td><div>
          <%= _("Name") %>: <%= text_field_tag "referee_name", "", :onkeypress => "return ignoreEnter(event)", :name => "referee[name]" %>
          <br/>
          <%= _("Location") %>: <%= text_field_tag "referee_location", "", :onkeypress => "return ignoreEnter(event)", :name => "referee[location]" %><br/>
          <%= submit_to_remote _("Create"), "Create",
            :url => { :action => :create_referee_for_edit },
            :with => "Form.serializeElements([$('referee_name'), $('referee_location')])",
            :confirm => _("Are you sure you want to create a new referee?"),
            :update => { :success => :game_referee_id },
            :failure => "alert('#{_('Could not insert referee')}')" %>
        </div>
      </td>
    </tr>
    <tr>
      <td><%= _("Stadium") %>:</td>
      <td>
        <select id="game_stadium_id" name="game[stadium_id]">
          <option value=""></option>
          <%= options_from_collection_for_select @stadiums, "id", "name", @selected_stadium %>
        </select>
        <%= link_to_function _("New") do |page|
          page["add_stadium"].toggle
          page["stadium_name"].activate
        end %>
      </td>
    </tr>
    <tr id="add_stadium" style="display: none">
      <td></td>
      <td><div>
          <%= _("Name") %>: <%= text_field_tag "stadium_name", "", :onkeypress => "return ignoreEnter(event)", :name => "stadium[name]" %>
          <br/>
          <%= submit_to_remote _("Create"), "Create",
            :url => { :action => :create_stadium_for_edit },
            :with => "Form.serializeElements([$('stadium_name')])",
            :confirm => _("Are you sure you want to create a new stadium?"),
            :update => { :success => :game_stadium_id },
            :failure => "alert('#{_('Could not insert referee')}')" %>
        </div>
      </td>
    </tr>
  </table>
  <label for="game_played"><%= s_("GameEdit|Played") %>:</label> <%= check_box :game, :played %><br/>
  <%= submit_tag _("Update") %>
<% end %>

<div>
  <%= game_versions(@game.versions) %>
</div>

<%= javascript_tag <<EOF
function updateGoalTable(home_away, aet, value) {
  var i = 0;
  var prefix = home_away + "_" + aet;
  if (aet == 'aet') {
    if (value > 0) {
      $(prefix + '_goals').show();
    } else {
      $(prefix + '_goals').hide();
    }
  }
  for (i = 0; i < value; ++i) {
    tr = $(prefix + "_goal_" + i)
    if (tr) {
      tr.show()
    } else {
      tr = $(prefix + "_goals").insertRow(-1);
      tr.id = prefix + "_goal_" + i;
      td = document.createElement("TD");
      tr.appendChild(td);
      input = document.createElement("INPUT");
      input.type = "hidden";
      input.name = prefix + "_goal[" + i + "][player_id]";
      input.id = prefix + "_goal_" + i + "_player_id";
      input.value = "";
      td.appendChild(input);
      div = document.createElement("DIV");
      div.id = prefix + "_goal_player_" + i;
      div.innerHTML = "&nbsp;";
      td.appendChild(div);
      td = document.createElement("TD");
      tr.appendChild(td);
      input = document.createElement("INPUT");
      input.name = prefix + "_goal[" + i + "][time]";
      input.id = prefix + "_goal_" + i + "_time";
      input.size = 2;
      input.type = "text";
      input.value = "";
      td.appendChild(input);
      td = document.createElement("TD");
      tr.appendChild(td);
      input = document.createElement("INPUT");
      input.name = prefix + "_goal[" + i + "][penalty]";
      input.id = prefix + "_goal_" + i + "_penalty_hidden";
      input.type = "hidden";
      input.value = "0";
      td.appendChild(input);
      input = document.createElement("INPUT");
      input.name = prefix + "_goal[" + i + "][penalty]";
      input.id = prefix + "_goal_" + i + "_penalty";
      input.type = "checkbox";
      input.value = "1";
      td.appendChild(input);
      td = document.createElement("TD");
      tr.appendChild(td);
      input = document.createElement("INPUT");
      input.name = prefix + "_goal[" + i + "][own_goal]";
      input.id = prefix + "_goal_" + i + "_own_goal";
      input.type = "hidden";
      input.value = "0";
      td.appendChild(input);
      input = document.createElement("INPUT");
      input.name = prefix + "_goal[" + i + "][own_goal_check]";
      input.id = prefix + "_goal_" + i + "_own_goal_check";
      input.disabled = true;
      input.type = "checkbox";
      input.value = "1";
      td.appendChild(input);
      input = document.createElement("INPUT");
      input.name = prefix + "_goal[" + i + "][aet]";
      input.id = prefix + "_goal_" + i + "_aet";
      input.type = "hidden";
      input.value = aet == "aet" ? "1" : "0";
      td.appendChild(input);
      Droppables.add(div.id, {hoverclass:'drop_receiving', onDrop:receiveDrop});
    }
  }
  while (tr = $(prefix + "_goal_" + i++)) {
    tr.hide();
  }
}

function ignoreEnter(event) {
  if (event.keyCode == Event.KEY_RETURN) return false;
  return true;
}

EOF
%>

<%= observe_field 'game_home_score', :function => "updateGoalTable('home', 'regulation', value); $('game_played').checked = true;" %>
<%= observe_field 'game_away_score', :function => "updateGoalTable('away', 'regulation', value); $('game_played').checked = true;" %>
<%= observe_field 'game_home_aet', :function => "updateGoalTable('home', 'aet', value); $('game_played').checked = true;" %>
<%= observe_field 'game_away_aet', :function => "updateGoalTable('away', 'aet', value); $('game_played').checked = true;" %>
<%= update_page_tag do |page| page["game_home_score"].activate end %>
