<% content_for :main_title do %><%= _("Listing games") %><% end %>

<%= _("Category") %>: <select id='category_select'>
  <%= options_from_collection_for_select @categories, "id", "name", @category %>
</select>
<br/>
<br/>
<%= form_tag({ :action => :list }, :method => :get) do -%>
<%= _("From") %>: <%= select_date @date_range_start.try(:to_date), { :use_short_month => true, :start_year => 1800, :include_blank => true, :prefix => "date_range_start" } %>
<%= _("To") %>: <%= select_date @date_range_end.try(:to_date), { :use_short_month => true, :start_year => 1800, :include_blank => true, :prefix => "date_range_end" } %>
<%= hidden_field_tag(:category, @category) %>
<%= hidden_field_tag(:type, @type) %>
<input type="submit" value="<%= _("Change date") %>">
<% end %>
<div id='table'>
  <%= render :partial => "game_list",
             :locals => { :game => @game } %>
</div>

<% content_for :sidebar do %>
  <%= link_to_unless(@type == :scheduled, _("Scheduled"), :action => :list, :type => :scheduled, :category => @category) %><br/>
  <%= link_to_unless(@type == :played, s_("GameList|Played"), :action => :list, :type => :played, :category => @category) %>
<% end %>

<%
observe_field_function = "switch(value) {\n";
@categories.each do |cat|
  observe_field_function << "case '#{cat.id}': document.location = '#{url_for(:page => 1, :played => @played, :category => cat)}';break;\n"
end
observe_field_function << "}\n"
%>
<%= observe_field "category_select", :function => observe_field_function %>
