<% content_for :main_title do %><%= _("Listing games") %><% end %>

<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/blitzer/jquery-ui.css" %>
<%= google_jquery %>
<%= google_jqueryui %>
<%= javascript_include_tag "jquery.ui.datepicker-pt-BR" if I18n.locale == :pt_BR %>
<script type="text/javascript">
  jQuery.noConflict();
</script>

<%= _("Category") %>: <select id='category_select'>
  <%= options_from_collection_for_select @categories, "id", "name", @category %>
</select>
<br/>
<br/>
<%= form_tag({ :action => :list }, :method => :get) do -%>
<% options_for_datepicker = { :autoSize => true, :changeYear => true, :selectOtherMonths => true, :showButtonPanel => true, :showOtherMonths => true, :numberOfMonths => 2 } %>
<%= _("From") %>: <%= datepicker_tag "date_range_start", @date_range_start, options_for_datepicker %>
<%= _("To") %>: <%= datepicker_tag "date_range_end", @date_range_end, options_for_datepicker %>
<script type="text/javascript">
function datepickerOnSelect(selectedDate) {
  var option = this.id == "date_range_start_datepicker_ui" ? "minDate" : "maxDate";
  var instance = jQuery(this).data( "datepicker" );
  var date = jQuery.datepicker.parseDate(
          instance.settings.dateFormat ||
          jQuery.datepicker._defaults.dateFormat,
          selectedDate, instance.settings );
  jQuery(this.id == "date_range_start_datepicker_ui" ? "#date_range_end_datepicker_ui" : "#date_range_start_datepicker_ui").datepicker("option", option, date);
}
jQuery(document).ready(function() {
  jQuery('#date_range_start_datepicker_ui').datepicker("option", "maxDate", jQuery.datepicker.parseDate('yy-mm-dd', '<%= @date_range_end %>'));
  jQuery('#date_range_start_datepicker_ui').datepicker("option", "onSelect", datepickerOnSelect);
  jQuery('#date_range_end_datepicker_ui').datepicker("option", "minDate", jQuery.datepicker.parseDate('yy-mm-dd', '<%= @date_range_start %>'));
  jQuery('#date_range_end_datepicker_ui').datepicker("option", "onSelect", datepickerOnSelect);
});
</script>
<%= hidden_field_tag(:category, @category) %>
<%= hidden_field_tag(:type, @type) %>
<input type="submit" value="<%= _("Change date") %>">
<% end %>
<div id='table'>
  <%= render :partial => "game_list",
             :locals => { :game => @game } %>
</div>

<% content_for :sidebar do %>
  <%= link_to_unless(@type == :scheduled, _("Scheduled"), :action => :list, :type => :scheduled, :category => @category) %><br/>
  <%= link_to_unless(@type == :played, s_("GameList|Played"), :action => :list, :type => :played, :category => @category) %>
<% end %>

<%
observe_field_function = "switch(value) {\n";
@categories.each do |cat|
  observe_field_function << "case '#{cat.id}': document.location = '#{url_for(:page => 1, :played => @played, :category => cat)}';break;\n"
end
observe_field_function << "}\n"
%>
<%= observe_field "category_select", :function => observe_field_function %>
