<% content_for :main_title do %><%= _("Listing games") %><% end %>

<%= _("Category") %>: <select id='category_select'>
  <%= options_from_collection_for_select @categories, "id", "name", @category %>
</select>
<br/>
<br/>
<div id='table'>
  <%= link_to raw(t("pagy.nav.prev")), url_for(:page => 1, :played => @played, :category => @category, week: (@calendar[:week].from - 7.days).to_date) if @calendar[:week].page > 1 %>
  <%= datepicker_tag "selected_week", @calendar[:week].from, { firstDay: 1,
      showButtonPanel: true,
      defaultDate: @calendar[:week].from.strftime('%Y-%m-%d'),
      changeYear: true,
      showOtherMonths: true,
      numberOfMonths: 2,
      selectOtherMonths: true,
      size: 10,
   } %>
  <%= link_to raw(t("pagy.nav.next")), url_for(:page => 1, :played => @played, :category => @category, week: (@calendar[:week].from + 7.days).to_date) if @calendar[:week].page < @calendar[:week].last %>

  <%= render partial: "game_list",
             locals: { sorted_games: @sorted_games, games: @games } %>
  <%== pagy_info(@pagy) if @pagy.count == 0 %><br>

<script>
$(document).ready(function() {
  var startDate = new Date('<%= @calendar[:week].from %>');
  var endDate = new Date('<%= @calendar[:week].to %>');;

  $('#selected_week_datepicker_ui').datepicker("option", "onSelect", function(dateText, inst) {
          var date = $(this).datepicker('getDate');
          var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
          startDate = new Date(date - ((date.getDay() + 6) % 7) * 24 * 3600 * 1000 + 2 * 3600 * 1000);
          window.location.href = '<%= url_for type: @type, category: @category, page: 1 %>?week=' + startDate.toLocaleDateString('en-CA');
          $('#selected_week_datepicker_ui').datepicker("setDate", startDate);
      });
  $('#selected_week_datepicker_ui').datepicker("option", "beforeShowDay", function(date) {
          var cssClass = '';
          if(date >= startDate && date < endDate) {
              cssClass = 'ui-state-active';
          }
          return [true, cssClass];
      });
  // We have to select the 'a' element to override the default mouseenter event.
  $('#ui-datepicker-div').on('mouseenter', '.ui-datepicker-calendar tr td a', function(event) { $(this).parent().parent().find('td a').addClass('ui-state-hover'); });
  $('#ui-datepicker-div').on('mouseleave', '.ui-datepicker-calendar tr td a', function(event) { $(this).parent().parent().find('td a').removeClass('ui-state-hover'); });
});

</script>
</div>

<% content_for :sidebar do %>
  <%= link_to_unless(@type == :scheduled, _("Scheduled"), :action => :list, :type => :scheduled, :category => @category) %><br/>
  <%= link_to_unless(@type == :played, s_("GameList|Played"), :action => :list, :type => :played, :category => @category) %>
<% end %>

<%
observe_field_function = "switch(value) {\n";
@categories.each do |cat|
  observe_field_function << "case '#{cat.id}': document.location = '#{url_for(:page => 1, :played => @played, :category => cat)}';break;\n"
end
observe_field_function << "}\n"
%>
<%= observe_field "category_select", :function => observe_field_function %>
