<% content_for :title do %>
  <%= @game.phase.championship.full_name %> - <%= @game.phase.name %> - <%= @game.home.name %> x <%= @game.away.name %>
<% end %>

<% content_for :main_title do %>
  <%= @game.phase.championship.full_name %>
<% end %>

<%= javascript_include_tag "gauge" %>

<h2><%= link_to @game.phase.name, :controller => :championship, :action => :games, :id => @game.phase.championship, :phase => @game.phase %></h2>

<%
def squash1(x, h)
  ret = ((x + h/3**0.5)**2 / ((x + h/3**0.5)**2 + h**2) - 0.25) / ((1 + h/3**0.5)**2 / ((1 + h/3**0.5)**2 + h**2) - 0.25)
  # shortcut zero to avoid floating point innacuracies taking us below 0.
  if ret < 0.0 then ret = 0.0 end
  ret
end
# The importance is a number between 0 and 1 but tends to be clustered around
# 0.1 and never go much over 0.7. This function takes this values and
# transforms them into another set of values between 0 and 1 that discriminate much
# better when the original values are in the lower end.
def calculate_importance(x)
  squash1(x, 0.5)
end
home_importance = calculate_importance(@game.home_importance.to_f)
away_importance = calculate_importance(@game.away_importance.to_f)
%>

<table class="game_show_score">
  <%= render :partial => "game_score" %>
  <% odds = @game.odds %>
  <% if !@game.played? && odds then %>
    <tr>
    <tr><td colspan="100"><b><%= _("Odds") %></td></tr>
    <td align="center"><%= number_to_percentage(100*odds[0], :precision => 2) %></td>
    <td colspan="3"/>
    <td align="center"><%= number_to_percentage(100*odds[1], :precision => 2) %></td>
    <td colspan="3"/>
    <td align="center"><%= number_to_percentage(100*odds[2], :precision => 2) %></td>
    </tr>
  <% end %>
  <% if !@game.played? and (@game.home_importance != nil or @game.away_importance != nil) then %>
    <tr><td colspan="100"><b><%= _("Importance") %></td></tr>
    <tr>
    <td align="center"><canvas title="<%= sprintf("%0.02f", home_importance) %>" style="width: 100px" id="gauge_home"/></td>
    <td colspan="7"/>
    <td align="center"><canvas title="<%= sprintf("%0.02f", away_importance) %>" style="width: 100px" id="gauge_away"/></td>
    </tr>
<script type="text/javascript">

var gradient = ["#F2F663", "#F3F75D", "#F3F756", "#F4F850", "#F5F84A", "#F6F944", "#F7F93E", "#F7FA37", "#F8FA31", "#F9FB2B", "#FAFB25", "#FBFC1F", "#FBFC18", "#FCFD12", "#FDFD0C", "#FEFE06", "#FFFF00", "#FFFB00", "#FFF700", "#FFF300", "#FFEF00", "#FFEB00", "#FFE700", "#FFE300", "#FFDF00", "#FFDB00", "#FFD700", "#FFD300", "#FFCF00", "#FFCC00", "#FFC800", "#FFC400", "#FFC000", "#FFBC00", "#FFB800", "#FFB400", "#FFB000", "#FFAC00", "#FFA800", "#FFA400", "#FFA000", "#FF9C00", "#FF9900", "#FF9500", "#FF9100", "#FF8D00", "#FF8900", "#FF8500", "#FF8100", "#FF7D00", "#FF7900", "#FF7500", "#FF7100", "#FF6D00", "#FF6900", "#FF6600", "#FF6200", "#FF5E00", "#FF5A00", "#FF5600", "#FF5200", "#FF4E00", "#FF4A00", "#FF4600", "#FF4200", "#FF3E00", "#FF3A00", "#FF3600", "#FF3200", "#FF2F00", "#FF2B00", "#FF2700", "#FF2300", "#FF1F00", "#FF1B00", "#FF1700", "#FF1300", "#FF0F00", "#FF0B00", "#FF0700", "#FF0300", "#FF0000"];
var zones = gradient.map(function(x, i) { return {strokeStyle: x, min: 1.0 / gradient.length * i, max: 1.0 / gradient.length * (i + 1)}; });
var opts = {
  angle: -0.2, // The span of the gauge arc
  lineWidth: 0.2, // The line thickness
  radiusScale: 1, // Relative radius
  pointer: {
    length: 0.4, // // Relative to gauge radius
    strokeWidth: 0.035, // The thickness
    color: '#000000' // Fill color
  },
  limitMax: false,     // If false, max value increases automatically if value > maxValue
  limitMin: false,     // If true, the min value of the gauge will be fixed
  colorStart: '#6FADCF',   // Colors
  colorStop: '#8FC0DA',    // just experiment with them
  strokeColor: '#E0E0E0',  // to see which ones work best for you
  generateGradient: true,
  highDpiSupport: true,     // High resolution support
  staticZones: zones,
};
var target = document.getElementById('gauge_home'); // your canvas element
var gauge_home = new Gauge(target).setOptions(opts); // create sexy gauge!
gauge_home.maxValue = 1.0; // set max gauge value
gauge_home.setMinValue(0);  // Prefer setter over gauge.minValue = 0
gauge_home.animationSpeed = 18; // set animation speed (32 is default value)
gauge_home.set(<%= home_importance %>); // set actual value
var target = document.getElementById('gauge_away'); // your canvas element
var gauge_away = new Gauge(target).setOptions(opts); // create sexy gauge!
gauge_away.maxValue = 1.0; // set max gauge value
gauge_away.setMinValue(0);  // Prefer setter over gauge.minValue = 0
gauge_away.animationSpeed = 18; // set animation speed (32 is default value)
gauge_away.set(<%= away_importance %>); // set actual value
</script>
  <% end %>

  <% player_scored = Hash.new %>
  <%= print_goals(@game.goals.regulation, player_scored) %>
  <% if not @game.goals.aet.empty? %>
    <tr><td colspan="100"><%= _("Extra time") %></td></tr>
  <% end %>
  <%= print_goals(@game.goals.aet, player_scored) %>

 <% if not @game.home_player_games.empty? or not @game.away_player_games.empty? %>
  <tr>
    <td colspan="5" style="vertical-align: top">
      <table style="width: 100%">
        <tr class="game_show_goals game_show_away_score">
          <th><%= _("Name") %></th>
          <th><%= _("Pos") %></th>
          <th><%= _("On") %></th>
          <th><%= _("Off") %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% @game.home_player_games.sort.each do |player_game| %>
          <tr class="game_show_goals game_show_away_score">
            <td><%= player_game.player.name %></td>
            <td><%= player_game.player.position %></td>
            <td><%= player_game.on %></td>
            <td><%= player_game.off %></td>
            <td><%= image_tag "yells.gif" if player_game.yellow? %></td>
            <td><%= image_tag "reds.gif" if player_game.red? %></td>
            <td><%= image_tag "goal.png" if player_scored[player_game.player.id] %></td>
          </tr>
        <% end %>
      </table>
    </td>

    <td></td>

    <td colspan="5" style="vertical-align: top">
      <table style="width: 100%">
        <tr class="game_show_goals game_show_away_score">
          <th><%= _("Name") %></th>
          <th><%= _("Pos") %></th>
          <th><%= _("On") %></th>
          <th><%= _("Off") %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% @game.away_player_games.sort.each do |player_game| %>
          <tr class="game_show_goals game_show_away_score">
            <td><%= player_game.player.name %></td>
            <td><%= player_game.player.position %></td>
            <td><%= player_game.on %></td>
            <td><%= player_game.off %></td>
            <td><%= image_tag "yells.gif" if player_game.yellow? %></td>
            <td><%= image_tag "reds.gif" if player_game.red? %></td>
            <td><%= image_tag "goal.png" if player_scored[player_game.player.id] %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
<% end %>

  <tr><td colspan="10">
      <table>
        <tr><td><%= _("Round") %>:</td><td><%= @game.round %></td></tr>
        <tr><td><%= _("Attendance") %>:</td><td><%= @game.attendance %></td></tr>
        <tr><td><%= _("Date") %>:</td><td><%= formatted_date(@game, true) %></td></tr>
        <tr><td><%= s_("Game|Time") %>:</td><td><%= formatted_time(@game) %></td></tr>
        <tr><td><%= _("Stadium") %>:</td><td><%= @game.stadium.name unless @game.stadium.nil? %></td></tr>
        <tr><td><%= _("Referee") %>:</td><td><%= "#{@game.referee.name} (#{@game.referee.location})" unless @game.referee.nil? %></td></tr>
      </table>
  </td></tr>

</table>

<%= render :partial => "game_odds" %>

<% if not @last_games.empty? %>
<h2><%= sprintf(n_("Previous game", "Previous %d games", @last_games.size), @last_games.size) %></h2>
<div class="game_score" style='font-size: 12px'>
  <% @last_games.each do |game| %>
    <div class="table_row">
      <div class="table_cell" style='width: 30%; text-align: left'>
        <%= link_to game.phase.championship.full_name,
          { :action => "show",
            :controller => "championship",
            :id => game.phase.championship,
          } %>
      </div>
      <div class="table_cell" style='width: 70%'>
        <%= render :partial => "championship/game_list",
                   :locals => { :game => game } %>
        <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
  <% end %>
</div>
<% end %>

<%= render :partial => "comment/comments", :locals => { :object => @game } %>

<% content_for :sidebar do %>
  <% if can? :manage, @game %>
    <%= link_to _("Edit"), :action => :edit, :id => @game %><br/>
    <%= link_to _("Edit Squad"), :action => :edit_squad, :id => @game %><br/>
    <%= link_to _("Delete"), { :action => :destroy, :id => @game }, data: {confirm: _('Are you sure?')}, :method => :post %><br/>
  <% end %>
<% end %>
