<% content_for :main_title do %><%= _("Listing players") %><% end %>

<p>
<%= form_tag({ :action => "list", :id => "" }, :method => "GET",
            :style => "display: inline") do %>
  <%= text_field_tag("id", @id, :size => 20) %>
  <%= submit_tag(_("Search"), :name => nil) %>
<% end %>

</p>

<div id="table">
<%= render :partial => "player_list" %>
</div>
<br/>

<% content_for :sidebar do %>
  <% if logged_in? and current_user.can_edit? %>
    <%= link_to _('New player'), :action => 'new' %>
  <% end %>
<% end %>

