<% content_for :main_title do %><%= _("Listing players") %><% end %>

<p>
<%= form_tag({ :action => "list", :id => "" }, :method => "GET",
            :style => "display: inline") do %>
            <%= text_field_tag("id", @id, :size => 50) %>
  <%= select_tag :position, options_for_select([[_("All"), ""]] + Player::Positions, @position), style: "width: 10%" %>
<br>

  <%= select_tag :continent, options_for_select([[s_("Continent|All"), ""]] + ApplicationHelper::Continent.options_for_select, @continent), onchange: "changeContinent(this);", style: "width: 30%" %>
  <%= select_tag :country, options_for_select(@countries[@continent], @country), style: "width: 30%" %>
  <%= submit_tag(_("Search"), :name => nil) %>
<% end %>
<script>
var countries = {
  "": <%== options_for_select(@countries[""]).to_json %>,
  <% ApplicationHelper::Continent::ALL.each do |name, c| %>
      "<%== name %>": <%== options_for_select(@countries[name]).to_json %>,
  <% end %>
};

function changeContinent(select) {
  $("#country").html(countries[select.value]);
}
</script>

</p>

<div id="table">
<%= render :partial => "player_list" %>
</div>
<br/>

<% content_for :sidebar do %>
  <% if can? :create, Player %>
    <%= link_to _('New player'), :action => 'new' %><br>
    <%= link_to _('Update rating'), :action => 'update_rating' %>
  <% end %>
<% end %>

<%= javascript_tag "$('#id').focus()" %>
