<% content_for :main_title do %><%= _("Player") %><% end %>

<h2><%= @player.name %> - <%= @player.full_name %></h2>
<div>
<table>
  <thead>
    <tr>
      <th><%= _("Team") %></th>
      <th><%= _("Championship") %></th>
      <th>App</th>
      <th>Min</th>
      <th><%= image_tag "goal.png" %></th>
      <th>P</th>
      <th><%= image_tag "yells.gif" %></th>
      <th><%= image_tag "reds.gif" %></th>
    </tr>
  </thead>
<% @player.player_games.joins(game: {phase: :championship}).group("phases.championship_id, team_id").select("championship_id, team_id, player_games.id, SUM(off-`on`) as minutes, SUM(yellow = 1) as yellows, SUM(red = 1) as reds, SUM(IF(off > 0, 1, 0)) as appearances, MAX(games.date) as latest, player_games.game_id").order("latest DESC").each do |p| %>
  <tr>
    <td><%= link_to add_wbr_to_string(p.team.name), action: :team, controller: :championship, id: p.championship_id, team: p.team_id %></td>
    <td><%= p.game.championship.full_name %></td>
    <td><%= p.appearances %></td>
    <td><%= p.minutes %></td>
    <td><%= @player.goals.joins(:game).where(own_goal: false, game: p.game.championship.games, team: p.team_id).count %></td>
    <td><%= @player.goals.joins(:game).where(penalty: true, game: p.game.championship.games, team: p.team_id).count %></td>
    <td><%= p.yellows %></td>
    <td><%= p.reds %></td>
  </tr>
<% end %>
</table>
</div>

<br>

<div class="game_score">
  <% last_championship = nil %>
<% @player.player_games.includes(:game).order("games.date DESC").each do |pg| %>
  <% if last_championship != pg.game.phase.championship %>
    <% last_championship = pg.game.phase.championship %>
    <%= championship_name(pg.game.phase.championship, {:controller => :championship, :action => :team, :id => pg.game.phase.championship, :team => pg.team}) %>
  <% end %>
  <div style='font-size: 11px'><%= formatted_date(pg.game, true) %></div>
      <div class="<%= cycle "table_line_even", "table_line_odd" %> table_row">
        <div class="table_cell" style="width: 92%">
          <%= render :partial => "championship/game_list",
                     :locals => { :highlight_team => pg.team,
                                  :game => pg.game,
                                  :show_country => pg.game.phase.championship.show_country,
                                } %>
          <div class="clearer"></div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="<%= cycle "table_line_even", "table_line_odd" %> table_row">
        <div class="table_cell" style="width: 92%">
        <div class="clearer"></div>
        <div class='table_cell' style='width: 10%'></div>
        <div class='table_cell' style='width: 10%'>On: <%= pg.on %></div>
        <div class='table_cell' style='width: 10%'>Off: <%= pg.off %></div>
	<div class='table_cell' style='color: rgb(237,194,64); width: 5%'><% if pg.yellow %><%= image_tag "yells.gif" %><% end %></div>
	<div class='table_cell' style='color: rgb(255,0,0); width: 5%'><% if pg.red %><%= image_tag "reds.gif" %><% end %></div>
	<div class='table_cell' style='font-size: 10px'><%= pg.game.goals.where(player_id: @player.id, own_goal: false).map{|x| "#{image_tag('goal.png')} #{x.time}' "}.join.html_safe %></div>
	<div class="clearer"></div>
      </div>
    </div>
<br>
<br>
<% end %>
</div>

<%= render :partial => "comment/comments", :locals => { :object => @player } %>

<% content_for :sidebar do %>
  <% if can? :manage, @player %>
    <%= link_to _("Edit"), :action => :edit, :id => @player %><br/>
    <%= link_to _("Delete"), { :action => :destroy, :id => @player }, :confirm => _('Are you sure?'), :method => :post %><br/>
  <% end %>
<% end %>
