<% content_for :main_title do %><%= _("Player") %><% end %>

<%= javascript_include_jquery %>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/fc-4.2.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/fc-4.2.1/datatables.min.js"></script>

<h2><%= @player.name %> - <%= @player.full_name %></h2>
<%= render :partial => "shared/player_stats_table", :locals => {
   player_stats: @player_stats,
   options: { columns_to_show: [:season, :team, :championship, :minutes, :goals, :goals_per_90, :own_goals, :penalties, :appearances, :played, :substituted_in, :bench, :yellows, :reds] },
   datatable_options: { order: [[ 0, 'desc' ]] },
} %>

<h2> <%= link_to _("Games"), :action => :games, :id => @player, :type => :played %></h2>

<div class="game_score">
  <% last_championship = nil %>
<% @player.player_games.includes(game: { phase: :championship }).includes(game: [:home, :away, :goals]).includes(:team).order("games.date DESC").limit(10).each do |pg| %>
  <% if last_championship != pg.game.phase.championship %>
    <% last_championship = pg.game.phase.championship %>
    <%= championship_name(pg.game.phase.championship, {:controller => :championship, :action => :team, :id => pg.game.phase.championship, :team => pg.team}) %>
  <% end %>
  <div style='font-size: 11px'><%= formatted_date(pg.game, true) %></div>
  <div class="<%= cycle "table_line_even", "table_line_odd" %> table_row">
    <div class="table_cell" style="width: 92%">
      <%= render :partial => "championship/game_list",
                 :locals => { :highlight_team => pg.team,
                              :game => pg.game,
                              :show_country => pg.game.phase.championship.show_country,
                            } %>
      <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
  </div>
  <%= render :partial => "player/game_detail", :locals => { :pg => pg } %>
<% end %>
</div>

<%= render :partial => "comment/comments", :locals => { :object => @player } %>

<% content_for :sidebar do %>
  <% if can? :manage, @player %>
    <%= link_to _("Edit"), :action => :edit, :id => @player %><br/>
    <%= link_to _("Delete"), { :action => :destroy, :id => @player }, :confirm => _('Are you sure?'), :method => :post %><br/>
    <br>
  <% end %>
  <%= link_to _("Player"), :action => :show, :id => @player %><br/>
  <%= link_to _("Games"), :action => :games, :id => @player, :type => :played %><br/>
<% end %>
