<% content_for :main_title do %><%= _("Player") %><% end %>

<h2><%= @player.name %> - <%= @player.full_name %></h2>
<% @player.team_players.each do |tp| %>
  <%= add_wbr_to_string(tp.team.name) %> - <%= tp.championship.full_name %><br/>
<% end %>

<%= render :partial => "comment/comments", :locals => { :object => @player } %>

<% content_for :sidebar do %>
  <% if can? :manage, @player %>
    <%= link_to _("Edit"), :action => :edit, :id => @player %><br/>
    <%= link_to _("Delete"), { :action => :destroy, :id => @player }, :confirm => _('Are you sure?'), :method => :post %><br/>
  <% end %>
<% end %>
