<% content_for :main_title do %><%= _("Player") %><% end %>

<style>
table,
th,
td {
  border-collapse: collapse;
}

table {
  width: 100%;
  font-size: small;
}

td {
  max-width: 0;
}

tbody tr:nth-child(odd) {
  background-color: #CEE3A3;
}

tr:nth-last-child(1) {
  font-weight: bold;
}

td:nth-child(1) {
  width: 10%;
}

td:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20%;
}

td:nth-child(3) {
  width: 22%;
}

.championship_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

td:nth-child(n+4), th:nth-child(n+4) {
  text-align: right;
}

td:nth-child(4) {
  width: 6%;
}

td:nth-child(n+5) {
  width: 4%;
}
</style>

<h2><%= @player.name %> - <%= @player.full_name %></h2>
<div>
<table>
  <thead>
    <tr>
      <th><%= _("Season") %></th>
      <th><%= _("Team") %></th>
      <th><%= _("Championship") %></th>
      <th title="<%= _("Minutes") %>"><%= s_("Minutes|M") %></th>
      <th title="<%= _("Appearances") %>"><%= s_("Appearances|A") %></th>
      <th title="<%= _("Played") %>"><%= s_("Played|P") %></th>
      <th title="<%= _("Goals") %>"><%= image_tag "goal.png" %></th>
      <th title="<%= _("Penalties") %>"><%= s_("Penalties|P") %></th>
      <th title="<%= _("Own Goals") %>"><%= s_("OwnGoals|O") %></th>
      <th title="<%= _("Yellows") %>"><%= image_tag "yells.gif" %></th>
      <th title="<%= _("Reds") %>"><%= image_tag "reds.gif" %></th>
    </tr>
  </thead>
<% @player_stats.each do |p| %>
  <tr>
    <td class="ellipsis"><%= p.game.phase.championship.season %></td>
    <td class="ellipsis">
      <%= image_tag p.team.small_country_logo, title: _(p.team.country), size: "15x15", alt: "." %>
      <%= image_tag p.team.logo.url(:thumb), size: p.team.logo.styles[:thumb].geometry, alt: "." %>
      <%= link_to add_wbr_to_string(p.team.name), action: :team, controller: :championship, id: p.game.phase.championship, team: p.team %>
    </td>
    <td>
      <%= championship_name(p.game.phase.championship, false, false, {:controller => :championship, :action => :team, :id => p.game.phase.championship, team: p.team}) %>
    </td>
    <td><%= p.minutes %></td>
    <td><%= p.appearances %></td>
    <td><%= p.played %></td>
    <td><%= p.goals %></td>
    <td><%= p.penalties %></td>
    <td><%= p.own_goals %></td>
    <td><%= p.yellows %></td>
    <td><%= p.reds %></td>
  </tr>
<% end %>

<tr>
  <td></td>
  <td></td>
  <td><%= _("Total") %></td>
   <td><%= @player_stats.map{|p|p.minutes}.sum %></td>
   <td><%= @player_stats.map{|p|p.appearances}.sum %></td>
   <td><%= @player_stats.map{|p|p.played}.sum %></td>
   <td><%= @player_stats.map{|p|p.goals}.sum %></td>
   <td><%= @player_stats.map{|p|p.penalties}.sum %></td>
   <td><%= @player_stats.map{|p|p.own_goals}.sum %></td>
   <td><%= @player_stats.map{|p|p.yellows}.sum %></td>
   <td><%= @player_stats.map{|p|p.reds}.sum %></td>
</tr>
</table>
</div>

<h2> <%= link_to _("Games"), :action => :games, :id => @player, :type => :played %></h2>

<div class="game_score">
  <% last_championship = nil %>
<% @player.player_games.includes(game: { phase: :championship }).includes(game: [:home, :away]).includes(:team).order("games.date DESC").limit(10).each do |pg| %>
  <% if last_championship != pg.game.phase.championship %>
    <% last_championship = pg.game.phase.championship %>
    <%= championship_name(pg.game.phase.championship, {:controller => :championship, :action => :team, :id => pg.game.phase.championship, :team => pg.team}) %>
  <% end %>
  <div style='font-size: 11px'><%= formatted_date(pg.game, true) %></div>
  <div class="<%= cycle "table_line_even", "table_line_odd" %> table_row">
    <div class="table_cell" style="width: 92%">
      <%= render :partial => "championship/game_list",
                 :locals => { :highlight_team => pg.team,
                              :game => pg.game,
                              :show_country => pg.game.phase.championship.show_country,
                            } %>
      <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
  </div>
  <%= render :partial => "player/game_detail", :locals => { :pg => pg } %>
<% end %>
</div>

<%= render :partial => "comment/comments", :locals => { :object => @player } %>

<% content_for :sidebar do %>
  <% if can? :manage, @player %>
    <%= link_to _("Edit"), :action => :edit, :id => @player %><br/>
    <%= link_to _("Delete"), { :action => :destroy, :id => @player }, :confirm => _('Are you sure?'), :method => :post %><br/>
    <br>
  <% end %>
  <%= link_to _("Player"), :action => :show, :id => @player %><br/>
  <%= link_to _("Games"), :action => :games, :id => @player, :type => :played %><br/>
<% end %>
