<% cache [ "v1",
           cookie_timezone,
           I18n.locale,
           @total_games,
           digest_cache_key(@games),
           digest_cache_key(@games.to_a.map{|g| [g.home, g.away]}.flatten.sort.uniq),
           digest_cache_key(@groups_to_show),
           @current_round,
           @championship.show_country ] do %>

<p>
<%= _("Round") %>: <select id="round_select" name="round">
  <option value=""><%= _("All") %></option>
  <%= options_for_select @rounds, @current_round %>
</select>

<%
observe_field_function = "switch(value) {\n";
@rounds.each do |round|
  observe_field_function << "case '#{round}': document.location = '#{url_for(:page => 1, :round => round)}';break;\n"
end
observe_field_function << "default: document.location = '#{url_for(:page => 1, :round => nil)}';break;\n"
observe_field_function << "}\n"
%>
<%= observe_field 'round_select', :function => observe_field_function %>
</p>
<p>
<%== pagy_nav @pagy if @pagy.pages > 1 %>
</p>
<div>
<% last_played = nil
   last_round = nil
   last_date = nil %>
<% @games.each do |game| %>
  <% if last_played != game.played %>
    <% last_played = game.played %>
    <div class='game_toplay'><%= game.played_str %></div>
  <% end %>
  <% if last_round != game.round %>
    <% last_round = game.round %>
    <div class='game_round'><%= t :round, round: game.round.to_i %></div>
    <% last_date = formatted_date(game) %>
    <div class='game_date'><%= formatted_date(game, true) %></div>
  <% end %>
  <% if last_date != formatted_date(game) %>
    <% last_date = formatted_date(game) %>
    <div class='game_date'><%= formatted_date(game, true) %></div>
  <% end %>
    <div class='table_row'>
      <%= render :partial => "game_list",
        :locals => { :game => game,
                     :show_country => @championship.show_country } %>
      <div class='clearer'></div>
    </div>
<% end %>
</div>
<p>
<%== pagy_nav @pagy if @pagy.pages > 1 %>
</p>

<% end %>
