<%
highlight_team = defined?(highlight_team) ? highlight_team : nil
if not defined?(show_country)
  show_country = game.phase.championship.show_country
end
game_id = game.class == Game::Version ? game.game.id : game.id
def name_to_print(team, highlight)
  name = add_wbr_to_string team.name
  name = "<b>#{name}</b>" if team == highlight
  name.html_safe
end %>

<div id='game_id_<%= game_id %>' class='game_id_link'>
<div class='table_cell game_time'>
  <%= formatted_time(game).to_s.empty? ? "&nbsp;".html_safe : formatted_time(game) %>
</div>
<div class='table_cell home_team'>
  <% if show_country %>
    <div class='home_logo'>
      <%= image_tag game.home.small_country_logo, title: _(game.home.country), size: "15x15", alt: "." %>
    </div>
  <% end %>
  <div class='home_logo'>
    <%= image_tag game.home.logo.url(:thumb), size: game.home.logo.styles[:thumb].geometry, alt: "." %>
  </div>
  <div class='home_name'>
    <%= name_to_print(game.home, highlight_team) %>
  </div>
</div>
<% odds = game.odds if !game.played? %>
<div class='table_cell home_score'><%= "*" if game.home_pen.to_i > game.away_pen.to_i %><%= game.home_score + game.home_aet.to_i if game.played? %>
<% if !game.played? and odds %>
  <%= content_tag :span, sprintf("%02.0f", 100*odds[0]), class: "game_odds" %>
<% end %>
</div>
<div class='table_cell game_x'>
<%=
if game.played? then
  if game.home_pen != nil then
    pen = _("Pen")
    "<div style='font-size: 50%; padding-top: 5px;'>#{pen}</div>".html_safe
  elsif game.home_aet != nil then
    aet = _("AET")
    "<div style='font-size: 50%; padding-top: 5px;'>#{aet}</div>".html_safe
  else
    "x"
  end
else
  if !odds then
    "x"
  else
    content_tag :span, sprintf("%02.0f", 100*odds[1]), class: "game_odds"
  end
end
%>
</div>
<div class='table_cell away_score'><%= game.away_score + game.away_aet.to_i if game.played? %><%= "*" if game.home_pen.to_i < game.away_pen.to_i %>
<% if !game.played? and odds %>
  <%= content_tag :span, sprintf("%02.0f", 100*odds[2]), class: "game_odds" %>
<% end %>
</div>
<div class='table_cell away_team'>
  <div style='width: 100%; align: right; position: relative'>
    <% if show_country %>
      <div class='away_logo'>
        <%= image_tag game.away.small_country_logo, :title => _(game.away.country), size: "15x15", alt: "." %>
      </div>
    <% end %>
    <div class='away_logo'>
      <%= image_tag game.away.logo.url(:thumb), size: game.away.logo.styles[:thumb].geometry, alt: "." %>
    </div>
    <div class='away_name'>
      <%= name_to_print(game.away, highlight_team) %>
    </div>
  </div>
</div>
<div class="clearer"></div>
</div>
<script>
$$('#game_id_<%= game_id %>').each(function(div) {
  div.observe('click', function() {
    window.location = '<%= url_for controller: :game, action: :show, id: game_id %>';
  });
});
</script>
