<% omit_columns = {} if omit_columns.nil? %>
<% omit_logo = false if omit_logo.nil? %>
<% omit_comments = false if omit_comments.nil? %>
<% omit_popup = false if omit_popup.nil? %>
<% show_country = false if show_country.nil? %>
<% cache [ "v1",
           I18n.locale,
           digest_cache_key(group.teams),
           group,
           group.phase,
           group.phase.championship,
           link_to_group,
           omit_columns,
           omit_logo,
           omit_comments,
           omit_popup,
           show_country ] do %>
<div style="position: relative; margin-left: 2px; margin-right: 2px;">
  <div style="width: 100%; float: left; position: relative;"><h3><span><%=
    if link_to_group
      link_to group.name,
              :controller => 'championship',
              :action => 'games',
              :id => group.phase.championship,
              :phase => group.phase,
              :group => group
    else
      h group.name
    end%></span></h3>
  </div>
  <% if not omit_columns[:odds] then %>
    <div id="recalculate<%= group.id %>" style="position: absolute; bottom: 0px; right: 0px;" data-authorize="group">
      <% if group.odds_progress then %>
        <%= _("Odds being recalculated") %>. <%= sprintf _("%d%% done."), group.odds_progress %>
        <%= javascript_tag "watch_odds(#{group.id})" %>
      <% else %>
        <%= button_tag _("Recalculate odds"), onclick: "recalculate_odds(#{group.id}); return false;" %>
      <% end %>
    </div>
  <% end %>
  <div class="clearer"></div>
</div>

<table class='class_table'>
  <tr class='table_head'>
    <%= content_tag :th, _("#"), class: "pos" unless omit_columns[:Pos] %>
    <%= content_tag :th, _("Name"), class: "name" unless omit_columns[:Name] %>
    <%= content_tag :th, _("Pts") unless omit_columns[:Pts] %>
    <%= content_tag :th, _("G") unless omit_columns[:G] %>
    <%= content_tag :th, _("W") unless omit_columns[:W] %>
    <%= content_tag :th, _("D") unless omit_columns[:D] %>
    <%= content_tag :th, _("L") unless omit_columns[:L] %>
    <%= content_tag :th, _("GF") unless omit_columns[:GF] %>
    <%= content_tag :th, _("GA") unless omit_columns[:GA] %>
    <%= content_tag :th, _("GD") unless omit_columns[:GD] %>
    <% if not omit_columns[:odds] then %>
      <%= content_tag :th, "", class: "odds_spacing" %>
      <%= content_tag :th, class: "odds", style: "text-align: center" do -%>
        <select id="oddsSelect_<%= group.id %>" tabindex=1>
        <% group.zones.each do |zone| %>
          <option value="<%= zone["name"] %>" data-title="<%= sprintf(_("odds of %s"), zone["name"])%>" data-color="<%= zone["color"]%>">▣</option>
        <% end %>
        <% (1..group.teams.size).each do |i| %>
          <option value="<%= i %>" title="<%= sprintf(_("odds of %s"), i)%>"><%=i%></option>
        <% end %>
        </select>
        <style>
        .ui-selectmenu-button.ui-button {
          width: auto;
        }
        .ui-button:hover .ui-icon,
        .ui-button:focus .ui-icon,
        .ui-button .ui-icon {
              background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/blitzer/images/ui-icons_004276_256x240.png);
        }
        .ui-selectmenu-button span.ui-selectmenu-text {
          padding: 0 0 0 0.3em
        }
        .ui-selectmenu-button span.ui-icon {
          right: 0.1em
        }
        .ui-button {
          padding: 0
        }
        .ui-widget {
          font-size: 1em
        }
        </style>
        <script type="text/javascript">
          jQuery.widget("custom.iconselectmenu", jQuery.ui.selectmenu, {
						_create: function() {
							this._super();
							this._setTabIndex();
						},
						_setTabIndex: function() {
							this.button.attr( "tabindex",
									this.options.disabled ? -1 :
									this.element.attr( "tabindex" ) || 0 );
						},
						_setOption: function( key, value ) {
							this._super( key, value );
							if ( key === "disabled" ) {
								this._setTabIndex();
							}
						},
            _renderButtonItem: function(item) {
              var buttonItem = jQuery("<span>");
              this._setText(buttonItem, item.label);
              this._addClass(buttonItem, "ui-selectmenu-text");
              buttonItem.css("color", item.element.attr("data-color"));
              return buttonItem;
            },
            _renderItem: function(ul, item) {
              var li = jQuery( "<li>" )
                .css("color", item.element.attr("data-color"));
              var wrapper = jQuery( "<div>", {
                title: item.element.attr( "title" )
              } );

              if ( item.disabled ) {
                this._addClass( li, null, "ui-state-disabled" );
              }
              this._setText( wrapper, item.label );
              return li.append( wrapper ).appendTo( ul );
            },
          });
          jQuery("#oddsSelect_<%=group.id%>").iconselectmenu({
            width: false,
            change: function(event, ui) {
              jQuery("td[data-group-id=<%=group.id%>][data-zone-name]").each(function(index) {
                jQuery(this).hide();
              });
              jQuery("td[data-group-id=<%=group.id%>][data-zone-name='" + ui.item.value + "']").each(function(index) {
                jQuery(this).show();
              });
            }
          });
        </script>
      <% end -%>
    <% end %>
  </tr>
  <% pos = 0 %>
  <% notes = Array.new %>
  <% max_form = 0 %>
  <% group.team_table.each do |t|
    stats = t[1]
    max_form = [stats.form.last(5).size, max_form].max
  end %>
  <% group.team_table.each do |t|
    team = t[0].team
    stats = t[1]
    note_number = ""
    unless omit_comments
      if t[0].comment
        notes.push t[0].comment
        note_number = " (#{notes.size})"
      end
    end
    form = ""
    unless omit_columns[:Form]
      last_5_form = stats.form.last(5)
      while last_5_form.size < max_form do
        last_5_form.push(nil)
      end
      form = last_5_form.map do |f|
        case f
        when "w"
          "<span style='color: green; font-size: x-small'>\u2688</span>"
        when "d"
          "<span style='color: yellow; font-size: x-small'>\u2688</span>"
        when "l"
          "<span style='color: red; font-size: x-small'>\u2688</span>"
        else
          "<span style='color: #00000000; font-size: x-small'>\u2688</span>"
        end
      end.join
    end
    pos += 1
    tr_class = 'table_line'
    pos_style = ''
    group.zones.each do |zone|
      pos_style = "background-color: #{zone["color"]}" if zone["position"].try('include?', pos)
    end
    country_logo = ""
    if show_country
      country_logo = image_tag(team.small_country_logo, :width => 15, :height => 15, :title => _(team.country))
    end
    image_logo = ""
    unless omit_logo
      image_logo = image_tag(team.logo.url(:thumb),
                             size: team.logo.styles[:thumb].geometry)
    end
    title_popup = ""
    unless omit_popup
      last_game = stats.last_game
      next_game = stats.next_game
      header_body = ""
      unless last_game.nil?
        header_body << sprintf("%02d", game_date(last_game).day) << "/"
        header_body << sprintf("%02d", game_date(last_game).month) << " "
        header_body << add_wbr_to_string(h(last_game.home.name)) << " "
        header_body << last_game.home_score.to_s << " x "
        header_body << last_game.away_score.to_s << " "
        header_body << add_wbr_to_string(h(last_game.away.name)) << "<br/>"
      end
      unless next_game.nil?
        header_body << sprintf("%02d", game_date(next_game).day) << "/"
        header_body << sprintf("%02d", game_date(next_game).month) << " "
        header_body << add_wbr_to_string(h(next_game.home.name)) << " x "
        header_body << add_wbr_to_string(h(next_game.away.name)) << "<br/>"
      end
      title_popup = "header=[] body=[#{header_body}] cssbody=[popupbody]"
    end
  %>
<tr class='<%= tr_class %>' style='<%= pos_style %>'>
         <%= content_tag :td, pos, class: "pos" unless omit_columns[:Pos] %>
         <%= content_tag(:td,
                         ((content_tag :span, form.html_safe) + " " + country_logo + " " + image_logo + " " +
                         link_to(add_wbr_to_string(team.name), :action => 'team',
                                            :id => group.phase.championship,
                                            :team => team) +
                         note_number).html_safe,
                         :class => "name",
                         :title => title_popup) unless omit_columns[:Name] %>

         <%= content_tag :td, stats.points unless omit_columns[:Pts] %>
         <%= content_tag :td, stats.games unless omit_columns[:G] %>
         <%= content_tag :td, stats.wins unless omit_columns[:W] %>
         <%= content_tag :td, stats.draws unless omit_columns[:D] %>
         <%= content_tag :td, stats.losses unless omit_columns[:L] %>
         <%= content_tag :td, stats.goals_for unless omit_columns[:GF] %>
         <%= content_tag :td, stats.goals_against unless omit_columns[:GA] %>
         <%= content_tag :td, stats.goals_diff unless omit_columns[:GD] %>
         <% if not omit_columns[:odds] then %>
           <%= content_tag :td, "", class: "odds_spacing" %>
           <% first = true %>
           <% group.zones.each do |zone| %>
             <% odds = t[0].calculate_odds(zone["position"]) %>
             <%= content_tag :td, odds ? sprintf("%02.2f", odds) : "", "data-group-id": group.id, "data-zone-name": zone["name"], class: "odds", style: "background-color: #{zone["color"]}; display: #{first ? "table-cell" : "none"}" %>
             <% first = false %>
           <% end %>
           <% (1..group.teams.size).each do |i| %>
             <% odds = if t[0].odds then t[0].odds[i-1] end %>
             <%= content_tag :td, odds ? sprintf("%02.2f", odds) : "", "data-group-id": group.id, "data-zone-name": i, class: "odds", style: "background-color: lightgray; display: #{first ? "table-cell" : "none"}" %>
             <% first = false %>
           <% end %>
         <% end %>
       </tr>
     <% end %>
   </table>
   <% count = 0 %>
   <% notes.each do |n| %>
     <% count += 1 %>
     <%= "(#{count}) #{n}" %><br/>
   <% end %>
<% end  # caching %>
