<% content_for :main_title do %><%= _("Edit Championship") %><% end %>

<%= error_messages_for 'championship', 'phase' %>

<%= javascript_include_jquery %>

<%= form_for @championship, :url => { :action => :update, :id => @championship } do |f| %>
  <%= render partial: "form", locals: { f: f } %>

  <p><%= _("Phases") %></p>

  <% last_order_by = 0 %>
  <p>
  <% @championship.phases(true).each do |phase| %>
    <%= _("Name") %>: <%= phase.name %>
    <%= link_to _("Edit"), :controller => :phase, :action => :edit, :id => phase %>
    <%= link_to _("Delete"), { :controller => :phase, :action => :destroy, :id => phase }, :confirm => _('Are you sure?'), :post => true %>
    <br/>
    <% last_order_by = phase.order_by %>
  <% end %>
  </p>

  <p><%= _("Add new phase") %>: (<%= _("More phases can be added later") %>)<br />
  <input type="text" id="phase[name]" name="phase[name]" value="">
  <input type="hidden" id="phase[order_by]" name="phase[order_by]" value="<%= last_order_by + 1 %>">
  </p>

  <%= submit_tag _("Update") %>
<% end %>
