<% cache [ "v1", @current_round, @games.all, @championship, @groups_to_show, @current_phase, @groups_to_show.map {|g| g.teams} ] do %>
<table class='tab_header'><tr>
<% count = 0 %>
<% @championship.phases.each do |phase| %>
<% if count % 6 == 0 %>
  </tr><tr>
<% end %>
<% count = count + 1 %>
<td>
<%   if (phase.id != @current_phase.id) %>
<%=    link_to phase.name, { :action => "games",
                             :id => @championship,
                             :phase => phase } %>
<%   else %>
<%=    h phase.name %>
<%   end %>
</td>
<% end %>
</tr></table>

<div id='table'>
  <%= render :partial => "game_table" %>
</div>
<% end %>

<% content_for :title do %>
  <%= @championship.full_name %> - <%= @current_phase.name %> - <%= _("Games") %>
<% end %>
<% content_for :main_title do %>
  <%= h @championship.full_name %>
<% end %>


<% content_for :sidebar do %>
  <%= render :partial => "nav_side" %>

  <div class='team_table'>
    <% @groups_to_show.each do |group| %>
      <%= render :partial => "table",
                 :locals => { :group => group,
                              :link_to_group => @groups_to_show.size > 1,
                              :omit_columns => { :D => true,
                                                 :L => true,
                                                 :GF => true,
                                                 :GA => true,
                                                 :OP => true,
                                                 :PP => true,
                                                 :RP => true },
                              :omit_logo => true,
                              :omit_popup => true,
                              :omit_comments => true } %>
    <% end %>
  </div>
<% end %>
