<% content_for :main_title do %><%= _("Listing Championships") %><% end %>

  <table>
    <tr>
      <th><%= _("Name") %></th>
      <th><%= _("Category") %></th>
    </tr>

    <% for championship in @championships %>
      <tr>
        <td><%= link_to championship.full_name, :action => 'show', :id => championship %></td>
        <td><%= championship.category.name %></td>
        <% if can? :manage, championship %>
          <td><%= link_to _('Edit'), :action => 'edit', :id => championship %></td>
          <td><%= link_to _('Destroy'), { :action => 'destroy',
                                       :id => championship },
                                     :confirm => _('Are you sure?'),
                                     :method => :post %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <p>
  <%= will_paginate @championships %>
  </p>

<% content_for :sidebar do %>
  <% if can? :create, :championship %>
    <%= link_to _('Create'), :action => :new %>
  <% end %>
<% end %>
