<% content_for :main_title do %><%= _("Listing Championships") %><% end %>

<%= form_tag({ :action => "list", :id => "" }, :method => "GET",
            :style => "display: inline") do %>
  <%= text_field_tag("name", @name, :size => 20) %>
  <%= submit_tag(_("Search"), :name => nil) %>
<% end %>
  <p>
  <%= will_paginate @championships %>
  </p>

  <table>
    <tr>
      <th><%= _("Name") %></th>
      <th><%= _("Category") %></th>
    </tr>

    <% for championship in @championships %>
      <tr>
        <td><%= link_to championship.full_name, :action => 'show', :id => championship %></td>
        <td><%= championship.category.name %></td>
        <% if can? :manage, championship %>
          <td><%= link_to _('Edit'), :action => 'edit', :id => championship %></td>
          <td><%= link_to _('Destroy'), { :action => 'destroy',
                                          :id => championship },
				          data: {confirm: _('Are you sure?')},
				          :method => :post %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <p>
  <%= will_paginate @championships %>
  </p>

<%= javascript_tag "$('name').activate()" %>
<% content_for :sidebar do %>
  <% if can? :create, Championship %>
    <%= link_to _('Create'), :action => :new %>
  <% end %>
<% end %>
