<% cache [ "v1",
           I18n.locale,
           @championship,
           @current_phase,
           @display_odds,
           digest_cache_key(@current_phase.teams) ] do %>
<table class='tab_header'><tr>
<% count = 0 %>
<% @championship.phases.each do |phase| %>
<% if count % 6 == 0 %>
  </tr><tr>
<% end %>
<% count = count + 1 %>
<td>
<%   if (phase.id != @current_phase.id) %>
<%=    link_to phase.name, { :action => "phases",
                             :id => @championship,
                             :phase => phase } %>
<%   else %>
<%=    h phase.name %>
<%   end %>
</td>
<% end %>
</tr></table>

<script type="text/javascript">
<% update_message = _("Updating odds...") %>
<% error_message = _("Cant calculate odds") %>
function recalculate_odds(group_id) {
  <%= remote_function(
          :url => { :controller => :group,
                    :action => :update_odds },
          :with => "'id=' + group_id",
          :failure => "alert('#{error_message}')",
          :before => "$('recalculate'+group_id).innerHTML = '#{update_message}'") %>
  watch_odds(group_id);
}

function watch_odds(group_id) {
  new PeriodicalExecuter(function() {
      <%= remote_function(
              :url => { :controller => :group,
                        :action => :odds_progress },
              :with => "'id=' + group_id",
              :failure => "alert('#{error_message}')",
              :before => "$('recalculate'+group_id).innerHTML = '#{update_message}'") %>
      }, 5);
}
</script>
<% @current_phase.groups.each do |group| %>
  <%= render :partial => "table",
             :locals => { :group => group,
                          :link_to_group => @current_phase.groups.size > 1,
                          :show_country => @championship.show_country,
                          :omit_columns => { :OP => @display_odds,
                                             :PP => @display_odds,
                                             :RP => @display_odds } } %>
<% end %>

<% end %>

<% content_for :title do %>
  <%= @championship.full_name %> - <%= @current_phase.name %> - <%= _("Table") %>
<% end %>
<% content_for :main_title do %>
  <%= h @championship.full_name %>
<% end %>
<% content_for :sidebar do %>
  <%= render :partial => "nav_side" %>
<% end %>
