<% content_for :title do %>
  <%= @championship.full_name %> - <%= _("Goalscorers") %>
<% end %>
<% content_for :main_title do %>
  <%= @championship.full_name %>
<% end %>

<% if @scorers.length == 0 %>
  <p><%= _("No players in this list") %></p>
<% else %>

  <h2><%= _("Top Goalscorers") %></h2>

<div id="players">
  <table class='class_table'>
    <tr class='table_head'>
      <th><%= _("Name") %></th>
      <th><%= _("Pos") %></th>
      <th><%= _("Teams") %></th>
      <th><%= _("Goals") %></th>
      <th><%= _("Penalties") %></th>
      <th><%= _("Own Goals") %></th>
    </tr>
    <% @scorers.each do |player, goals| %>
      <tr class='table_line'>
        <td><%= link_to player.name, :controller => :player, :action => :show, :id => player %></td>
        <td><%= player.position %></td>
        <td><%= @teams[player].map{|t| link_to add_wbr_to_string(t.name), :controller => :championship, :action => :team, :id => @championship, :team => t }.join(", ").html_safe %>
        <td><%= goals %></td>
        <td><%= @penalty[player] %></td>
        <td><%= @own[player] %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate @scorer_pagination %>

 <% end %>

<% content_for :sidebar do %>
  <%= render :partial => "nav_side" %>
<% end %>
