<h1><%= _("Listing team_groups") %></h1>

<table>
  <tr>
  <% for column in TeamGroup.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for team_group in @team_groups %>
  <tr>
  <% for column in TeamGroup.content_columns %>
    <td><%=h team_group.send(column.name) %></td>
  <% end %>
    <td><%= link_to _('Show'), :action => 'show', :id => team_group %></td>
    <td><%= link_to _('Edit'), :action => 'edit', :id => team_group %></td>
    <td><%= link_to _('Destroy'), { :action => 'destroy', :id => team_group }, :confirm => _('Are you sure?'), :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to _('Previous page'), { :page => @team_group_pages.current.previous } if @team_group_pages.current.previous %>
<%= link_to _('Next page'), { :page => @team_group_pages.current.next } if @team_group_pages.current.next %> 

<br />

<%= link_to _('New team_group'), :action => 'new' %>
