<% content_for :main_title do %> <%= _("Home") %><% end %>

<% if not logged_in? %>
<div class="promo">
  <%= (_("Now you can <a href='%{signup_link}'>sign up</a> and leave comments on the site.") % { :signup_link => url_for(:controller => :account, :action => :login) }).html_safe %>
</div>
<% end %>

<div id="games">
  <h3 style="margin-top: 0px"><%= _("Top games") %></h3>
  <%= render partial: "game/game_list",
             locals: { sorted_games: @top_games } %>
</div>

<div id="championship">
  <h3 style="margin-top: 0px"><%= _("Current championships") %></h3>
  <% @championships.each do |champ| %>
    <%= link_to champ.full_name, :controller => :championship, :action => :phases, :id => champ, :phase => champ.phases.try(:last) %><br>
  <% end %>
</div>

<div id="edits">
  <h3> <%= _("Latest edits") %></h3>
  <% @games.each do |game| %>
    <div class="updated-game">
    <% if game.updater %>
      <div style="overflow: hidden; white-space: nowrap; width: 100%"><a href="<%= url_for(:controller => :user, :action => :show, :id => game.updater) %>"><small><%= image_tag game.updater.avatar.url(:thumb), :class => "user-logo" %> <%= game.updater.display_name %></small></a></div>
    <% end %>
    <small><%= l game.updated_at.in_time_zone(cookie_timezone) %></small><br>
    <div class="table_row">
      <div class="table_cell" style="width: 50%; text-align: left"><%= link_to game.phase.championship.full_name, :controller => :championship, :action => :show, :id => game.phase.championship %></div>
      <div class="table_cell" style="width: 50%"><%= formatted_date(game, true) %></div>
      <div class="clearer"></div>
    </div>
    <div class="table_row">
      <%= render :partial => "championship/game_list",
                 :locals => { :game => game } %>
      <div class="clearer"></div>
    </div>
    </div>
  <% end %>
</div>

<h3><%= _("Latest comments") %></h3>
<div id="comments">
  <% @comments.each do |comment| %>
      <%= render :partial => "comment/comment", :object => comment, :locals => { :render_link_to_parent => true } %>
  <% end %>
</div>

<% content_for :sidebar do %>
  <font size="2"><%= _("GolAberto is a collaborative site that is updated by its users. Registered users can give information by commenting on items. The top users are promoted to editors who can edit the site and create new championships.") %></font>
  <br><br>
  <%= _("Contact:") %> <%= mail_to "golaberto@gmail.com" %>
<% end %>
