<table>
  <tr>
    <th><%= _("Name") %></th>
  </tr>

  <% @stadia.each do |stadium| %>
    <tr>
      <td><%= link_to stadium.name, :action => :show, :id => stadium %></td>
      <% if can? :manage, stadium %>
        <td><%= link_to _('Edit'), :action => 'edit', :id => stadium %></td>
        <td><%= link_to _('Destroy'), { :action => 'destroy', :id => stadium }, :confirm => _('Are you sure?'), :post => true %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= will_paginate @stadia %>
