<table>
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Country") %></th>
    <th><%= _("Games") %></th>
  </tr>

  <% @stadia.each do |stadium| %>
    <tr>
      <td><%= link_to stadium.name, action: :show, id: stadium %></td>
      <td><%= _(stadium.country) %></td>
      <td style='text-align: right'><%= stadium.games_count %></td>
      <% if can? :manage, stadium %>
        <td><%= link_to image_tag('icons/pencil.png', alt: _('Edit')), action: 'edit', id: stadium %></td>
        <td><%= link_to image_tag('icons/bin.png', alt: _('Destroy')), { action: 'destroy', id: stadium }, data: { confirm: _('Are you sure?') }, post: true %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>
<%== pagy_nav @pagy if @pagy.pages > 1 %>
