<% content_for :main_title do %><%= _("Stadium") %><% end %>

<h2><%= @stadium.name %></h2>

<h2><%= _("Games") %></h2>
<div class="game_score">
<% last_championship = nil %>
  <% @games.each do |game| %>
    <% if last_championship != game.phase.championship %>
      <% last_championship = game.phase.championship %>
      <%= championship_name(game.phase.championship, {:controller => :championship, :action => :show, :id => game.phase.championship}) %>
    <% end %>
    <div style='font-size: 11px'><%= formatted_date(game, true) %></div>
    <div class="table_row">
      <div class="table_cell" style='width: 100%'>
        <%= render :partial => "championship/game_list",
                   :locals => { :game => game } %>
        <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
  <% end %>
</div>

<br>
<%== pagy_nav @pagy if @pagy.pages > 1 %>

<% content_for :sidebar do %>
  <%= link_to _("Stadium"), action: :show, id: @stadium %><br>
  <%= link_to _("Games"), action: :games, id: @stadium %><br>
<% end %>
