<%= javascript_include_jquery %>
<label for="team_name"><%= _("Name") %>:</label> <%= f.text_field :name %><br/>
<label for="team_full_name"><%= _("Full name") %>:</label> <%= f.text_field :full_name %><br/>
<label for="team_city"><%= _("City") %>:</label> <%= f.text_field :city %><br/>
<label for="team_foundation"><%= _("Foundation") %>:</label> <%= f.datepicker :foundation, :autoSize => true, :changeYear => true, :selectOtherMonths => true, :showButtonPanel => true, :showOtherMonths => true %><br/>
<label for="team_country"><%= _("Country") %>:</label> <%= f.select :country, golaberto_options_for_country_select, :include_blank => true %><br/>
<%= _("Stadium") %>:
<select id="team_stadium_id" name="team[stadium_id]">
  <option value=""></option>
  <%= options_from_collection_for_select @stadiums, "id", "name", @team.stadium_id %>
</select>
<%= link_to_function _("New"), onclick: 'jQuery("#add_stadium").toggle(); jQuery("#stadium_name").focus(); return false;' %>
<br/>
<div id="add_stadium" style="display: none">
  <%= _("Name") %>: <%= text_field_tag "stadium_name", "", :onkeypress => "return ignoreEnter(event)", :name => "stadium[name]" %>
  <br/>
  <%= submit_to_remote _("Create"), "Create",
    :url => { :controller => :game, :action => :create_stadium_for_edit },
    :with => "jQuery('#stadium_name').serialize()",
    :confirm => _("Are you sure you want to create a new stadium?"),
    :success => 'jQuery("#team_stadium_id").html(response); jQuery("#add_stadium").toggle();',
    :failure => "alert('#{ _('Could not insert stadium') }')" %>
</div>
<%= f.label :team_type %>: <%= f.select :team_type, Team.i18n_team_types %><br/>
<%= f.label :logo, _("Logo") %>: <%= f.file_field :logo %><div id="preview" class="thumb-upload-input"></div>
<%= f.label :filter_image_background, _("Filter image background?") %> <%= f.check_box :filter_image_background %><br/>

<%= javascript_tag <<EOF
function ignoreEnter(event) {
  if (event.keyCode == Event.KEY_RETURN) return false;
  return true;
}
addPreviewToFileInput('team_logo', 'preview');
EOF
%>
