<% return if teams.size == 0 %>
<% require 'geo_clusterer' %>
<% require 'google_url_signer' %>

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<div id="map">
<% points = teams.map do |t|
    { geometry: { coordinates: [t.team_geocode.try(:data).try(:at, 0).try(:fetch, "lon").to_f, t.team_geocode.try(:data).try(:at, 0).try(:fetch, "lat").to_f] } }
end
   bounds = {
     northeast: { lat: points.map{|p| p[:geometry][:coordinates][1] }.max, lng: points.map{|p| p[:geometry][:coordinates][0] }.max},
     southwest: { lat: points.map{|p| p[:geometry][:coordinates][1] }.min, lng: points.map{|p| p[:geometry][:coordinates][0] }.min},
   }
   zoom = GeoClusterer.get_bounds_zoom_level(bounds, { height: 400, width: 560 })
   clusters = GeoClusterer.cluster(points, zoom)
%>
<% markers = clusters.map do |c|
    "markers=#{ "anchor:center|icon:#{Rails.configuration.golaberto_image_url_prefix}/markers/#{[c[2], 100].min}.png|" if c[2] > 1 }#{c[1]},#{c[0]}"
  end.join("&")
%>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
<style>
button.gm-ui-hover-effect {
    visibility: hidden;
}
</style>

<script>
// List of city names
const cities = [
<% teams.each do |team| %>
  [ '<%= team.city %>, <%= team.country %>', '<%= team.name %>', '<%= team.logo.url(:thumb) %>', <%= team.team_geocode.try(:data).try(:at, 0).try(:to_json).try(:html_safe) %>, '<%= _(team.country) %>' ],
<% end %>
];

function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
        maxZoom: <%= maxzoom %>,
        zoomControl: false,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
    });

    // Create an empty LatLngBounds object to encompass all markers
    const bounds = new google.maps.LatLngBounds();

    // Create an array to hold the markers
    const markers = [];

    cities.forEach(cityName => {
      var location = {lat: 0.0, lng: 0.0 };
      if (cityName[3] != null) location = {lat: Number(cityName[3].lat), lng: Number(cityName[3].lon)};

      var name = cityName[4];
      <% case I18n.locale when :"pt-BR" then %>
      if (cityName[3] != null) name = (cityName[3]['namedetails']['name:pt'] || cityName[3]['namedetails']['name:en'] || cityName[3]['name']) + ", " + name;;
      <% else %>
      if (cityName[3] != null) name = (cityName[3]['namedetails']['name:en'] || cityName[3]['name']) + ", " + name;;
      <% end %>

      for (i=0; i < markers.length; i++) {
              var existingMarker = markers[i];
              var pos = existingMarker.getPosition();
              if (Math.abs(location.lat - pos.lat()) < 0.0006 && Math.abs(location.lng - pos.lng()) < 0.0006) {
                  var a = 3.0;
                  var newLat = pos.lat() + -.00000 * Math.cos((+a*i) / 180 * Math.PI);  //X
                  var newLng = pos.lng() + 0.0006;
                  location = {lat: newLat, lng: newLng};
              }
          }

      // Create a marker for the city and add it to the map
      const marker = new google.maps.Marker({
          position: location,
          optimized: false,
      });

      // Extend the bounds to include this marker
      bounds.extend(marker.getPosition());

      // Create an InfoWindow with the city name
      const infoWindow = new google.maps.InfoWindow({
          content: `<div class="info-window">
                       <h3>${name}</h3>
                       <h3><img src="${cityName[2]}">${cityName[1]}</h3>
                    </div>`,
          maxWidth: 200,
          disableAutoPan: true,
      });

      // Open the InfoWindow when the marker is clicked
      marker.addListener('mouseover', () => {
          infoWindow.open(map, marker);
      });
      marker.addListener('mouseout', () => {
          infoWindow.close();
      });
      marker.addListener('click', () => {
          map.setCenter(marker.getPosition());
      });

      // Push the marker to the markers array
      markers.push(marker);
    });

    // Fit the map to the bounds after all markers have been added
    map.fitBounds(bounds);

    // Create a MarkerClusterer to cluster the markers
    new markerClusterer.MarkerClusterer({markers, map});

    // Create a button element
    const resetButton = document.createElement('button');
    resetButton.setAttribute('id', 'resetButton');
    resetButton.textContent = '<%= _("Reset Map") %>';

    // Create a custom control element to hold the button
    const customControl = document.createElement('div');
    customControl.className = 'custom-control';

    // Append the button to the custom control element
    customControl.appendChild(resetButton);

    // Add the custom control to the map's UI
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(customControl);

    // Add a click event listener to the reset button
    resetButton.addEventListener('click', function() {
        map.fitBounds(bounds);
    });
}

  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyCT_RQIGXyWC6LEKwGVkiIAyXJjWfuKJkE",
    v: "weekly",
<% case I18n.locale when :"pt-BR" then %>
    region: "br",
    language: "pt"
<% end %>
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });

$(function() {
  async function start() {
    const { Map } = await google.maps.importLibrary("maps");
    initMap(Map);
  }
  $('#static_map').on("click", async function() {
    await start();
    $('#static_map').hide();
  });
});

</script>
<img id=static_map width=560 height=400 src="<%= GoogleUrlSigner.sign "https://maps.googleapis.com/maps/api/staticmap?#{markers}&zoom=#{maxzoom}&#{"region=br&language=pt&" if I18n.locale == :"pt-BR" }size=560x400&scale=2&format=jpg&key=AIzaSyCT_RQIGXyWC6LEKwGVkiIAyXJjWfuKJkE", Rails.application.credentials.google_api[:secret_sign] %>" />

</div>
