<p>
<%== pagy_nav @pagy if @pagy.pages > 1 %>
</p>

<% if @teams.size > 0 then %>
  <%= render partial: "team_rating_graph", locals: {teams: @teams} %>
<% end %>

<table style="width:100%">
  <tr>
    <th/>
    <th><%= _("Name") %></th>
    <th><%= _("Country") %></th>
    <th><%= _("Rating") %></th>
  </tr>

  <% @teams.each_with_index do |team, i| %>
    <tr>
      <td><input type="checkbox" <%= if i < 3 then "checked" end %> name="<%= team.id %>" class="ratingSelector"></td>
      <td><%= image_tag team.logo.url(:thumb), size: team.logo.styles[:thumb].geometry, alt: "" %>
        <%= link_to add_wbr_to_string(team.name), :action => :show, :id => team %></td>
      <td>
      <%= image_tag team.small_country_logo, width: 15, height: 15, title: _(team.country), alt: "" %>
      <%= _(team.country) %></td>
      <td>
      <%= number_to_rounded(team.rating || 0, precision: 2) %>
      </td>
      <% if can? :manage, team %>
        <td><%= link_to _('Edit'), :action => 'edit', :id => team %></td>
        <td><%= link_to _('Destroy'), { :action => 'destroy', :id => team }, data: { confirm: _('Are you sure?') }, :method => :post %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>
<%== pagy_nav @pagy if @pagy.pages > 1 %>
</p>
