<% content_for :main_title do %> <%= _("Listing teams") %><% end %>

<%= form_tag({ :action => "list", :id => "" }, :method => "GET",
            :style => "display: inline") do %>
  <%= text_field_tag("id", @id, :size => 66) %><br>

  <%= select_tag :continent, options_for_select([[s_("Continent|All"), ""]] + ApplicationHelper::Continent.options_for_select, @continent), class: "continent-select", style: "width: 30%" %>
  <%= select_tag :country, options_for_select(@countries[@continent], @country), style: "width: 30%" if @team_type == "club" %>
  <%= submit_tag(_("Search"), :name => nil) %>
<% end %>
<script>
var countries = {
  "": <%= raw(options_for_select(@countries[""]).to_json) %>,
  <% ApplicationHelper::Continent::ALL.each do |name, c| %>
      "<%= raw(name) %>": <%= raw(options_for_select(@countries[name]).to_json) %>,
  <% end %>
};

$(document).ready(function() {
  $(".continent-select").on("change", function () {
    var selectedContinent = $(this).val();
    $("#country").html(countries[selectedContinent]);
  });
});
</script>

<div id="table">
  <%= render :partial => "team_list" %>
</div>

<% content_for :sidebar do %>
  <%= link_to_unless @team_type == "club", _("Clubs"), team_type: "club" %><br/>
  <%= link_to_unless @team_type == "national", _("National Teams"), team_type: "national" %><br/>
  <br>
  <% if can? :create, Team %>
    <%= link_to _('New team'), :action => 'new' %><br>
    <%= link_to _('Update rating'), :action => 'update_rating' %>
  <% end %>
<% end %>
<%= javascript_tag "$('#id').focus()" %>
