<% content_for :main_title do %> <%= _("Listing teams") %><% end %>

<%= form_tag({ :action => "list", :id => "" }, :method => "GET",
            :style => "display: inline") do %>
  <%= text_field_tag("id", @id, :size => 20) %>
  <%= submit_tag(_("Search"), :name => nil) %>
<% end %>
<div id="table">
<%= render :partial => "team_list" %>
</div>

<% content_for :sidebar do %>
  <% if can? :manage, :team %>
    <%= link_to _('New team'), :action => 'new' %>
  <% end %>
<% end %>
<%= javascript_tag "$('id').activate()" %>
