<% content_for :title do %>
  <%= @team.full_name || @team.name %>
<% end %>
<% content_for :main_title do %>
  <%= @team.name %>
<% end %>

<div>
  <div style="float: left">
    <%= image_tag "logos/" + @team.large_logo %>
  </div>
  <div style="float: left">
    <h3><%= @team.full_name %></h3>
    <%= _("City") %>: <%= @team.city %><br/>
    <%= _("Country") %>: <%= _(@team.country) %><br/>
    <%= _("Foundation") %>: <%= @team.foundation.strftime(_("%B %d, %Y")) if @team.foundation %><br/>
    <%= _("Stadium") %>: <%= link_to @team.stadium.name, :controller => :stadium, :action => :show, :id => @team.stadium if @team.stadium %><br/>
  </div>
  <div style="clear: both"></div>
</div>

<div>
  <%= _("Latest championships") %>:<br/>
  <% @championships.each do |c| %>
    <%= link_to c.full_name, :controller => :championship, :action => :team, :id => c, :team => @team %><br/>
  <% end %>
</div>

<% unless @last_games.empty? %>
<h2> <%= n_("Last game", "Last %{num} games", @last_games.size) % { :num => @last_games.size } %></h2>
<div class="game_score" style='font-size: 12px'>
  <% @last_games.each do |game| %>
    <div style='font-size: 11px'><%= game.formatted_date(true) %></div>
    <div class="table_row">
      <div class="table_cell" style='width: 30%; text-align: left'>
        <%= link_to game.phase.championship.full_name,
          { :action => "show",
            :controller => "championship",
            :id => game.phase.championship,
          } %>
      </div>
      <div class="table_cell" style='width: 70%'>
        <%= render :partial => "championship/game_list",
                   :locals => { :highlight_team => @team,
                                :game => game } %>
        <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
  <% end %>
</div>
<% end %>

<% unless @next_games.empty? %>
<h2> <%= n_("Next game", "Next %{num} games", @next_games.size) % { :num => @next_games.size } %></h2>
<div class="game_score" style='font-size: 12px'>
  <% @next_games.each do |game| %>
    <div style='font-size: 11px'><%= game.formatted_date(true) %></div>
    <div class="table_row">
      <div class="table_cell" style='width: 30%; text-align: left'>
        <%= link_to game.phase.championship.full_name,
          { :action => "show",
            :controller => "championship",
            :id => game.phase.championship,
          } %>
      </div>
      <div class="table_cell" style='width: 70%'>
        <%= render :partial => "championship/game_list",
                   :locals => { :highlight_team => @team,
                                :game => game } %>
        <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
  <% end %>
</div>
<% end %>

<%= render :partial => "comment/comments", :locals => { :object => @team } %>

<% content_for :sidebar do %>
  <% if can? :manage, @team %>
    <%= link_to _("Edit team"), :action => :edit, :id => @team %><br/>
    <%= link_to _("Delete team"), { :action => :destroy, :id => @team }, :confirm => _('Are you sure?'), :method => :post %><br/>
    <br/>
  <% end %>
  <%= link_to _("Team"), :action => :show, :id => @team %><br/>
  <%= link_to _("Games"), :action => :games, :id => @team, :played => true %><br/>
<% end %>
