<% content_for :title do %>
  <%= _("User") %> - <%= @user.display_name %>
<% end %>
<% content_for :main_title do %>
  <%= @user.display_name %>
<% end %>

<div>
  <table style="width: 100%"><tr>
    <td><%= image_tag "users/" + @user.large_logo %></td>
    <td>
      <table>
        <tr><td><%= _("Name") %>:</td><td><%= @user.name %></td></tr>
        <tr><td><%= _("Member for") %>:</td><td><%= time_ago_in_words(@user.created_at) %></td></tr>
      </table>
    </td>
    <td><div id='about_me'></div></td>
  </tr></table>
</div>

<div>
  <h4><%= _("Stats") %></h4>
  <%= _("This user has made %{num_comments} comments to this date.") % { :num_comments => @comment_number } %><br>
  <%= _("This user has made %{num_edits} edits to this date.") % { :num_edits => @edit_number } %><br>
</div>


<% content_for :sidebar do %>
<% end %>
