<style type="text/css">
  .ui-autocomplete {
    max-height: 220px;
    width: 520px;
    font-size: small;
    text-align: left;
    overflow: auto;
  }
</style>

<table id="team_groups">
  <tr><th><%= _("Country") %></th><th></th><th><%= _("Team") %></th><th><%= _("Bonus") %></th><th><%= _("Bias") %></th><th><%= _("Observation") %></th></tr>
</table>
<script type="text/javascript">
var current_data = [
<% @group.team_groups.each do |t| %>
  <%= t.to_json.html_safe %>,
<% end %>
];
<% if @group.phase.championship.region == "national" then %>
var default_country = "<%= @group.phase.championship.region_name %>";
<% else %>
var default_country = "";
<% end %>
jQuery("window").ready(function() { update_team_groups(<%= @group.team_groups.size %>, teams, ordered_teams, current_data, default_country); });
</script>
<%= observe_field "team_number", :function => "update_team_groups(value, teams, ordered_teams, current_data, default_country);" %>
