<style type="text/css">
  .ui-autocomplete {
    max-height: 220px;
    width: 520px;
    font-size: small;
    text-align: left;
    overflow: auto;
  }
</style>

<table id="team_groups">
  <tr><th></th><th><%= _("Team") %></th><th><%= _("Bonus") %></th><th><%= _("Bias") %></th><th><%= _("Observation") %></th></tr>
</table>
<%= javascript_include_tag "edit_group" %>
<script type="text/javascript">
var teams = {
<% @teams.each do |team| %>
  <%= team.id %>:
  { name: '<%= escape_javascript team.name %>',
    desc: '<%= escape_javascript team.full_name %>, <%= escape_javascript _(team.country) %>',
    icon: '<%= escape_javascript team.small_logo %>' },
<% end %>
};
var ordered_teams = [
<% @teams.each do |team| %><%= team.id %>,<% end %>
];
var current_data = [
<% @group.team_groups.each do |t| %>
  <%= t.to_json.html_safe %>,
<% end %>
];
jQuery(function() { update_team_groups(<%= @group.team_groups.size %>, teams, ordered_teams, current_data); });
</script>
<%= observe_field "team_number", :function => "update_team_groups(value, teams, ordered_teams, current_data);" %>
