<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>GolAberto - <%= yield(:title).tap { |title| title.blank? and title.replace(_(controller.controller_name.titleize)) } %></title>
  <%= javascript_tag do %>
    var current_user = <%= (current_user || User.new).as_json(:root => false, :only => :id, :include => :roles).to_json.html_safe %>;
  <% end %>
  <%= javascript_include_jquery %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :header %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="<%= image_path "/favicon.ico" %>" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" href="<%= asset_url "favicon.png" %>" />
</head>

<body>
  <div class='container'>
    <div class='header'>
      <%= link_to image_tag("logo.png", :border => 0), :controller => :home %>
      <div class="navigation" style='position: absolute; top: 0px; right: 0px; background-color: #8f983b; text-align: right'>
        <% case I18n.locale
              when :"pt-BR" then %> <%= link_to ("English " + image_tag("flags/gb.png")).html_safe, params.permit!.merge(host: APP_CONFIG["en_US_host"]).to_h %>
           <% else %> <%= link_to ("Português " + image_tag("flags/br.png")).html_safe, params.permit!.merge(host: APP_CONFIG["pt_BR_host"]).to_h %>
        <% end %>
        <br>
        <script>
          $(document).ready(function() {
            function setCookie(cname, cvalue, exdays) {
              var d = new Date();
              d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
              var expires = "expires=" + d.toUTCString();
              document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
            }

            function getCookie(cname) {
              var name = cname + "=";
              var ca = document.cookie.split(';');
              for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
            }

            if (!getCookie("timezone")) {
              var timezone = "<%= cookie_timezone.tzinfo.name %>";
              var detected = jstz.determine().name();
              setCookie('timezone', detected, 365);
              if (timezone != detected) {
                location.reload();
              }
            }

            $("#timezone_name").click(function () {
              $(this).hide();
              $("#timezone_select").show();
            });

            $("#timezone_select").change(function () {
              setCookie('timezone', $(this).val(), 365);
              location.reload();
            });
          });
        </script>
        <a id="timezone_name" href="#"><%= cookie_timezone.to_s %></a>
        <select id="timezone_select" style="display: none">
          <%= time_zone_options_for_select(cookie_timezone.name, ActiveSupport::TimeZone.all, TZInfo::Timezone) %>
        </select>
      </div>
      <% if logged_in? %>
        <div class="navigation" style="position: absolute; bottom: 0px; right: 0px; background-color: #8f983b; width: 30%">
          <div style="float: left; text-align: right;" class="user-name"><%= link_to current_user.display_name, :controller => :user, :action => :show, :id => current_user %></div>
          <div style="float: right"><%= link_to image_tag(current_user.avatar.url(:thumb), :class => "user-logo"), :controller => :user, :action => :show, :id => current_user %></div>
        </div>
      <% end %>
    </div>

    <div class='navigation'>
      <%= link_to _("Home"), :controller => :home %> |
      <%= link_to _("Championships"), :controller => :championship, :action => :list %> |
      <%= link_to _("Teams"), :controller => :team, :action => :list, :team_type => :club %> |
      <%= link_to _("Games"), :controller => :game, :action => :list, :type => :scheduled %> |
      <%= link_to _("Players"), :controller => :player, :action => :list %> |
      <%= link_to _("Stadiums"), :controller => :stadium, :action => :list %> |
      <%= link_to _("Referees"), :controller => :referee, :action => :list %> |
      <% if logged_in? %>
        <%= link_to _("Logout"), :controller => :account, :action => :logout %>
      <% else %>
        <%= link_to _("Login"), :controller => :account, :action => :login %>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <div class='notice'><%= flash[:notice] %></div>
    <% end %>

    <div class='main'>
      <h1><%= yield :main_title %></h1>
      <div class="content">
        <%= yield %>
      </div>
      <div class="nav_side">
  <% if current_user.nil? %>
  <script src="https://accounts.google.com/gsi/client?hl=<%= I18n.locale %>" async defer></script>
    <div id="g_id_onload"
      data-client_id="<%= Rails.application.credentials.google_api[:client_id] %>"
      data-login_uri="<%= "/auth/google/onetap_callback" %>"
      data-use_fedcm_for_prompt="true"
      data-context="signup"
      data-ux_mode="popup"
      data-auto_prompt="true"
      data-auto_select="false"
      data-itp_support="true"
      data-locale="<%= I18n.locale %>"
      data-authenticity_token="<%= form_authenticity_token %>"
    >
  </div>
    <% end %>

        <%= yield :sidebar %>
      </div>
      <div class='clearer'></div>
    </div>
  </div>
</body>
</html>
